image:
  # Use a kubectl image that includes a shell (sh/bash). Distroless images will fail to exec the script.
  registry: docker.io
  repository: bitnamilegacy/kubectl
  tag: 1.33.3-debian-12-r4
podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
