image:
  registry: registry.k8s.io
  repository: kubectl
  tag: v1.32.9
podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
