galley:
  host: 127.0.0.1
  port: 8085

cassandra:
  endpoint:
    host: 127.0.0.1
    port: 9042
  keyspace: galley_test

brig:
  host: 127.0.0.1
  port: 8082

gundeck:
  host: 127.0.0.1
  port: 8086

spar:
  host: 127.0.0.1
  port: 8088

settings:
  httpPoolSize: 1024
  maxTeamSize: 128
  maxConvSize: 128
  intraListing: false
  conversationCodeURI: https://127.0.0.1/join/
  concurrentDeletionEvents: 1024
  deleteConvThrottleMillis: 0

  featureFlags:  # see #RefConfigOptions in `/docs/reference`
    sso: disabled-by-default
    legalhold: disabled-by-default
    teamSearchVisibility: disabled-by-default
    appLock:
      defaults:
        status: enabled
        config:
          enforceAppLock: false
          inactivityTimeoutSecs: 60

  federationDomain: example.com

logLevel: Info
logNetStrings: false
