galley:
  host: 127.0.0.1
  port: 8085

cassandra:
  endpoint:
    host: 127.0.0.1
    port: 9042
  keyspace: galley_test

brig:
  host: 127.0.0.1
  port: 8082

gundeck:
  host: 127.0.0.1
  port: 8086

settings:
  httpPoolSize: 1024
  maxTeamSize: 128
  maxConvSize: 128
  intraListing: false
  conversationCodeURI: https://127.0.0.1/join/
