galley:
  host: galley
  port: 8085

cassandra:
  endpoint:
    host: cassandra
    port: 9042
  keyspace: galley_test

brig:
  host: brig
  port: 8082

gundeck:
  host: gundeck
  port: 8086

spar:
  host: spar
  port: 8088

settings:
  httpPoolSize: 1024
  maxTeamSize: 128
  maxConvSize: 128
  intraListing: false
  conversationCodeURI: https://cannon/join/
  concurrentDeletionEvents: 1024
  deleteConvThrottleMillis: 0

  featureFlags:  # see #RefConfigOptions in `/docs/reference`
    sso: disabled-by-default
    legalhold: disabled-by-default
    teamSearchVisibility: disabled-by-default
    appLock:
      defaults:
        status: enabled
        config:
          enforceAppLock: false
          inactivityTimeoutSecs: 60

logLevel: Info
logNetStrings: false
