Package: nginz
Version: <<VERSION_NUMBER>>+<<BUILD_NUMBER>>
Maintainer: Wire Swiss GmbH <backend@wire.com>
Architecture: amd64
Depends: libossp-uuid16,runit,libsodium18 (>= 1.0.8)
Description: NGINX plus some extra modules.
