replicaCount: 3
image:
  repository: quay.io/wire/cannon
  tag: do-not-use
  pullPolicy: IfNotPresent
config:
  logLevel: Info
  drainOpts:
    # The following drains a minimum of 400 connections/second
    # for a total of 10000 over 25 seconds
    # (if cannon holds more connections, draining will happen at a faster pace)
    gracePeriodSeconds: 25
    millisecondsBetweenBatches: 50
    minBatchSize: 20
resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
service:
  name: cannon
  internalPort: 8080
  externalPort: 8080
