target
Cargo.lock
*.aux*
*.chi
*.chs.h
*.deb
*.gz
*.hi
*.hp*
*.o
*.prof*
*.ps*
*.rlib
*.so
*.tar
*.asc
*.tmp
*~
.#*
*#*#
.*.sw[a-z]
.cabal-sandbox
ID
Setup.hs
cabal.sandbox.config
dist
gen-hs
log
tags
TAGS
.stack-work
.stack-docker
.stack-docker-profile
.metadata
*.tix
*.pem
.DS_Store
services/nginz/src
services/.env
tools/api-simulations/mailboxes.json
tools/api-simulations/reports
brig-schema.yaml
brig.yaml
brig.integration-aws.yaml
cannon.yaml
cannon.integration-aws.yaml
cannon2.integration-aws.yaml
cargohold.yaml
cargohold.integration-aws.yaml
galley-schema.yaml
galley.yaml
galley.integration-aws.yaml
gundeck-schema.yaml
gundeck.yaml
gundeck.integration-aws.yaml
proxy.yaml
proxy.integration-aws.yaml
spar.yaml
spar.integration-aws.yaml
integration-aws.yaml
DOCKER_ID*
deploy/services-demo/resources/templates/*
deploy/services-demo/conf/nginz/zwagger-ui/*

deploy/docker-ephemeral/build/airdock_base-all/
deploy/docker-ephemeral/build/airdock_base/
deploy/docker-ephemeral/build/airdock_fakesqs-all/
deploy/docker-ephemeral/build/airdock_fakesqs/
deploy/docker-ephemeral/build/airdock_rvm-all/
deploy/docker-ephemeral/build/airdock_rvm/
deploy/docker-ephemeral/build/dynamodb_local/
deploy/docker-ephemeral/build/smtp/

# Ignore cabal files; use package.yaml instead
*.cabal
