[formatter.nix]
command = "nixpkgs-fmt"
includes = ["*.nix"]
excludes = [
  "nix/sources.nix" # managed by niv.
]

[formatter.shellcheck]
command = "shellcheck"
includes = ["*.sh"]
excludes = [
  "dist-newstyle/",
  "services/nginz/third_party/",
  "libs/wire-api/test/golden/gentests.sh",
  "changelog.d/mk-changelog.sh",
  "hack/bin/integration-teardown.sh",
  "hack/bin/diff-failure.sh",
  "hack/bin/integration-setup.sh",
  "hack/bin/cabal-run-tests.sh",
  "hack/bin/integration-teardown-federation.sh",
  "hack/bin/integration-setup-federation.sh",
  "hack/bin/serve-charts.sh",
  "hack/bin/cabal-install-artefacts.sh",
  "hack/bin/helm-template.sh",
  "hack/bin/set-chart-image-version.sh",
  "hack/bin/copy-charts.sh",
  "hack/bin/set-helm-chart-version.sh",
  "hack/bin/integration-spring-cleaning.sh",
  "hack/bin/upload-helm-charts-s3.sh",
  "hack/bin/integration-test-logs.sh",
  "services/nginz/nginz_reload.sh",
  "services/spar/test-scim-suite/mk_collection.sh",
  "services/spar/test-scim-suite/runsuite.sh",
  "services/spar/test-scim-suite/run.sh",
  "services/brig/federation-tests.sh",
  "services/integration.sh",
  "services/nginz/third_party/nginx-module-vts/*",
  "services/nginz/third_party/headers-more-nginx-module/*",
  "hack/bin/create_test_team_members.sh",
  "hack/bin/create_test_team_scim.sh",
  "hack/bin/create_test_user.sh",
  "hack/bin/create_team_members.sh",
  "hack/bin/register_idp_internal.sh",
  "hack/bin/create_test_team_admins.sh",
  "deploy/dockerephemeral/init.sh",
  "tools/nginz_disco/nginz_disco.sh",
  "tools/rebase-onto-formatter.sh",
  "tools/sftd_disco/sftd_disco.sh",
  "tools/ormolu.sh",
  "tools/db/move-team/dump_merge_teams.sh"
]
