[formatter.nix]
command = "nixpkgs-fmt"
includes = ["*.nix"]

[formatter.cabal-fmt]
command = "cabal-fmt"
options = [ "--inplace" ]
includes = [ "*.cabal" ]
excludes = [
  "dist-newstyle/"
]

[formatter.shellcheck]
command = "shellcheck"
includes = ["*.sh"]
excludes = [
  "dist-newstyle/",
  "services/nginz/third_party/*",
  "services/restund/*",
]
