apiVersion: v1
kind: Service
metadata:
  name: federator
  labels:
    wireService: federator
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.service.internalFederatorPort }}
      targetPort: {{ .Values.service.internalFederatorPort }}

    - name: wire-server-federator
      port: {{ .Values.service.externalFederatorPort }}
      targetPort: {{ .Values.service.externalFederatorPort }}
  selector:
    wireService: federator
    release: {{ .Release.Name }}
