# Default values for the team-settings.
replicaCount: 1
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "1"
image:
  repository: quay.io/wire/team-settings
  tag: "4.15.0-v0.31.16-0-8138d2e"
service:
  https:
    externalPort: 443
  http:
    internalPort: 8080

## The following has to be provided to deploy this chart

#config:
#  externalUrls:
#   backendRest: nginz-https.wire.example
#   backendWebsocket: nginz-ssl.wire.example
#   backendDomain: wire.example
#   appHost: teams.wire.example

#secrets:
#   configJson: <secret-to-be-asked-from-wire>

# Some relevant environment options. For a comprehensive
# list of available variables, please refer to:
# https://github.com/wireapp/wire-web-config-wire/blob/master/wire-team-settings/.env.defaults
#
# NOTE: Without an empty dictionary, you will see warnings
#       when overriding envVars
envVars: {}
# E.g.
# envVars:
#   FEATURE_ENABLE_DEBUG: "true"
#   You are likely to need at least following CSP headers
#   due to the fact that you are likely to do cross sub-domain requests
#   i.e., from teams.wire.example to nginz-https.wire.example
#   CSP_EXTRA_CONNECT_SRC: "https://*.wire.example, wss://*.wire.example"
#   CSP_EXTRA_IMG_SRC: "https://*.wire.example"
#   CSP_EXTRA_SCRIPT_SRC: "https://*.wire.example"
#   CSP_EXTRA_DEFAULT_SRC: "https://*.wire.example"
#   CSP_EXTRA_FONT_SRC: "https://*.wire.example"
#   CSP_EXTRA_FRAME_SRC: "https://*.wire.example"
#   CSP_EXTRA_MANIFEST_SRC: "https://*.wire.example"
#   CSP_EXTRA_OBJECT_SRC: "https://*.wire.example"
#   CSP_EXTRA_MEDIA_SRC: "https://*.wire.example"
#   CSP_EXTRA_PREFETCH_SRC: "https://*.wire.example"
#   CSP_EXTRA_STYLE_SRC: "https://*.wire.example"
#   CSP_EXTRA_WORKER_SRC: "https://*.wire.example"

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
