apiVersion: apps/v1
kind: Deployment
metadata:
  name: brig
  labels:
    app: brig
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: brig
  template:
    metadata:
      labels:
        app: brig
        release: {{ .Release.Name }}
      annotations:
        # An annotation of the configmap checksum ensures changes to the configmap cause a redeployment upon `helm upgrade`
        checksum/configmap: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/turnconfigmap: {{ include (print .Template.BasePath "/turnconfigmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
        fluentbit.io/parser: json
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        - name: "brig-config"
          configMap:
            name: "brig"
        {{- if eq $.Values.turn.serversSource "files" }}
        - name: "turn-servers"
          configMap:
            name: "turn"
        {{- end }}
        - name: "brig-secrets"
          secret:
            secretName: "brig"
        {{- if .Values.config.geoip.enabled }}
        - name: "geoip"
          emptyDir: {}
        {{- end }}
      {{- if .Values.config.geoip.enabled }}
      # Brig needs GeoIP database to be downloaded before it can start.
      initContainers:
        - name: geoipdownload
          image: "{{ .Values.config.geoip.image.repository }}:{{ .Values.config.geoip.image.tag }}"
          imagePullPolicy: {{ default "" .Values.config.geoip.imagePullPolicy | quote }}
          volumeMounts:
          - name: "geoip"
            mountPath: "/usr/share/GeoIP"
          # The environment variables are documented at:
          # https://github.com/maxmind/geoipupdate/blob/62b34e648a842dc03ccf4ad3f61e2d85eaec98fc/doc/docker.md
          env:
          - name: GEOIPUPDATE_ACCOUNT_ID
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: accountId
          - name: GEOIPUPDATE_LICENSE_KEY
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: licenseKey
          - name: GEOIPUPDATE_EDITION_IDS
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: editionIds
          - name: GEOIPUPDATE_FREQUENCY
            value: "0" # Setting this to 0 makes the script only run geoipupdate once.
      {{- end }}
      containers:
        - name: brig
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          volumeMounts:
          - name: "brig-secrets"
            mountPath: "/etc/wire/brig/secrets"
          - name: "brig-config"
            mountPath: "/etc/wire/brig/conf"
          {{- if eq $.Values.turn.serversSource "files" }}
          - name: "turn-servers"
            mountPath: "/etc/wire/brig/turn"
          {{- end }}
          {{- if .Values.config.geoip.enabled }}
          - name: "geoip"
            mountPath: "/usr/share/GeoIP"
          {{- end }}
          env:
          - name: LOG_LEVEL
            value: {{ .Values.config.logLevel }}
          {{- if hasKey .Values.secrets "awsKeyId" }}
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: brig
                key: awsKeyId
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: brig
                key: awsSecretKey
          {{- end }}
          # TODO: Is this the best way to do this?
          - name: AWS_REGION
            value: "{{ .Values.config.aws.region }}"
          {{- with .Values.config.proxy }}
          {{- if .httpProxy }}
          - name: http_proxy
            value: {{ .httpProxy | quote }}
          - name: HTTP_PROXY
            value: {{ .httpProxy | quote }}
          {{- end }}
          {{- if .httpsProxy }}
          - name: https_proxy
            value: {{ .httpsProxy | quote }}
          - name: HTTPS_PROXY
            value: {{ .httpsProxy | quote }}
          {{- end }}
          {{- if .noProxyList }}
          - name: no_proxy
            value: {{ join "," .noProxyList | quote }}
          - name: NO_PROXY
            value: {{ join "," .noProxyList | quote }}
          {{- end }}
          {{- end }} 
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
        {{- if .Values.config.geoip.enabled }}
        - name: geoipupdate
          image: "{{ .Values.config.geoip.image.repository }}:{{ .Values.config.geoip.image.tag }}"
          imagePullPolicy: {{ default "" .Values.config.geoip.imagePullPolicy | quote }}
          volumeMounts:
          - name: "geoip"
            mountPath: "/usr/share/GeoIP"
          # The environment variables are documented at:
          # https://github.com/maxmind/geoipupdate/blob/62b34e648a842dc03ccf4ad3f61e2d85eaec98fc/doc/docker.md
          env:
          - name: GEOIPUPDATE_ACCOUNT_ID
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: accountId
          - name: GEOIPUPDATE_LICENSE_KEY
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: licenseKey
          - name: GEOIPUPDATE_EDITION_IDS
            valueFrom:
              secretKeyRef:
                name: brig-geoip
                key: editionIds
          - name: GEOIPUPDATE_FREQUENCY
            value: "24" # hours
        {{- end }}
