namespace: {{ requiredEnv "NAMESPACE_1" }}
federationDomain: {{ requiredEnv "FEDERATION_DOMAIN_1" }}
namespaceFed2: {{ requiredEnv "NAMESPACE_2" }}
federationDomainFed2: {{ requiredEnv "FEDERATION_DOMAIN_2" }}
ingressChart: {{ requiredEnv "INGRESS_CHART" }}
rabbitmqUser: guest
rabbitmqPassword: guest
