replicaCount: 3
image:
  repository: quay.io/wire/spar
  tag: do-not-use
metrics:
  serviceMonitor:
    enabled: false
resources:
  requests:
    memory: "25Mi"
    cpu: "50m"
  limits:
    memory: "50Mi"
service:
  externalPort: 8080
  internalPort: 8080
config:
  cassandra:
    host: aws-cassandra
#   To enable TLS provide a CA:
#   tlsCa: <CA in PEM format (can be self-signed)>
#
#   Or refer to an existing secret (containing the CA):
#   tlsCaSecretRef:
#     name: <secret-name>
#     key: <ca-attribute>
  richInfoLimit: 5000
  maxScimTokens: 0
  logLevel: Info
  logFormat: StructuredJSON
  logNetStrings: false
  maxttlAuthreq: 7200
  maxttlAuthresp: 7200
  proxy: {}
  # Disable one ore more API versions. Please make sure the configuration value is the same in all these charts:
  # brig, cannon, cargohold, galley, gundeck, proxy, spar.
  disabledAPIVersions: [ development ]

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

tests:
  config: {}
#  config:
#   uploadXml:
#     baseUrl: s3://bucket/path/
#  secrets:
#    uploadXmlAwsAccessKeyId: <key-id>
#    uploadXmlAwsSecretAccessKey: <secret>
