# Default values for elasticsearch-index
elasticsearch:
  #host:  # elasticsearch-client|elasticsearch-ephemeral
  port: 9200
  index: directory
  delete_template: directory
cassandra:
  # host:
  port: 9042
  keyspace: brig
galley:
  host: galley
  port: 8085
image:
  repository: quay.io/wire/brig-index
  tag: do-not-use
