replicaCount: 1
image:
  repository: quay.io/wire/stern
  tag: do-not-use
  pullPolicy: IfNotPresent
service:
  internalPort: 8080
  externalPort: 8080
resources:
  requests:
    memory: 20Mi
    cpu: 30m
  limits:
    memory: 50Mi
config:
  logLevel: Info
  logFormat: StructuredJSON
  galebHost: galeb.integrations
  ibisHost: ibis.integrations
baseUrl: http://localhost:8080

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

tests:
  config: {}
#  config:
#   uploadXml:
#     baseUrl: s3://bucket/path/
#  secrets:
#    uploadXmlAwsAccessKeyId: <key-id>
#    uploadXmlAwsSecretAccessKey: <secret>
