<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emails</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 1.1;
    }

    a {
      color: #402;
      text-decoration: none;
    }

    a:visited,
    a:hover,
    a:active {
      text-decoration: underline;
    }


    .menu {
      flex: 1;
      border-right: 1px solid #999;
      padding: 8px;
      overflow-x: hidden;
    }

    .list {
      padding: 0 8px;
      list-style: none;
    }

    .list>li {
      margin-bottom: 8px;
      font-weight: 500;
    }

    .i18n {
      padding: 0 0 0 8px;
    }

    .i18n li {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
    }

    .i18n a {
      border: 1px solid #ddd;
      padding: 1px 3px;
    }

    h3 {
      margin: 0;
    }

    .main {
      flex: 5;
      border: none;
    }
  </style>
</head>

<body>
  <div class="menu">
    <h3>Provider</h3>
    <ul class="list">
      <li>
        <a href="provider/en/email/activation.html" target="preview">Activation</a>
        (<a href="provider/en/email/activation.txt" target="preview">txt</a>)
      </li>
      <li>
        <a href="provider/en/email/approval-confirm.html" target="preview">Approval Confirm</a>
        (<a href="provider/en/email/approval-confirm.txt" target="preview">txt</a>)
      </li>
      <li>
        <a href="provider/en/email/approval-request.html" target="preview">Approval Request</a>
        (<a href="provider/en/email/approval-request.txt" target="preview">txt</a>)
      </li>
    </ul>
    <h3>Team</h3>
    <ul class="list">
      <li>
        <a href="team/en/email/invitation.html" target="preview">Invitation</a>
        (<a href="team/en/email/invitation.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="team/de/email/invitation.html" target="preview">de</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="team/en/email/new-team-member-welcome.html" target="preview">New Team Member Welcome</a>
        (<a href="team/en/email/new-team-member-welcome.txt" target="preview">txt</a>)
      </li>
      <li>
        <a href="team/en/email/new-team-welcome.html" target="preview">New Team Welcome</a>
        (<a href="team/en/email/new-team-welcome.txt" target="preview">txt</a>)
      </li>
    </ul>
    <h3>User</h3>
    <ul class="list">
      <li>
        <a href="user/en/email/activation.html" target="preview">Activation</a>
        (<a href="user/en/email/activation.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="user/ar/email/activation.html" target="preview">ar</a>
          </li>
          <li>
            <a href="user/de/email/activation.html" target="preview">de</a>
          </li>
          <li>
            <a href="user/es-ES/email/activation.html" target="preview">es-ES</a>
          </li>
          <li>
            <a href="user/et/email/activation.html" target="preview">et</a>
          </li>
          <li>
            <a href="user/fa/email/activation.html" target="preview">fa</a>
          </li>
          <li>
            <a href="user/fr/email/activation.html" target="preview">fr</a>
          </li>
          <li>
            <a href="user/it/email/activation.html" target="preview">it</a>
          </li>
          <li>
            <a href="user/pt-BR/email/activation.html" target="preview">pt-BR</a>
          </li>
          <li>
            <a href="user/ru/email/activation.html" target="preview">ru</a>
          </li>
          <li>
            <a href="user/sv-SE/email/activation.html" target="preview">sv-SE</a>
          </li>
          <li>
            <a href="user/tr/email/activation.html" target="preview">tr</a>
          </li>
          <li>
            <a href="user/uk/email/activation.html" target="preview">uk</a>
          </li>
          <li>
            <a href="user/zh-TW/email/activation.html" target="preview">zh-TW</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="user/en/email/deletion.html" target="preview">Deletion</a>
        (<a href="user/en/email/deletion.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="user/ar/email/deletion.html" target="preview">ar</a>
          </li>
          <li>
            <a href="user/de/email/deletion.html" target="preview">de</a>
          </li>
          <li>
            <a href="user/es-ES/email/deletion.html" target="preview">es-ES</a>
          </li>
          <li>
            <a href="user/et/email/deletion.html" target="preview">et</a>
          </li>
          <li>
            <a href="user/fa/email/deletion.html" target="preview">fa</a>
          </li>
          <li>
            <a href="user/fr/email/deletion.html" target="preview">fr</a>
          </li>
          <li>
            <a href="user/it/email/deletion.html" target="preview">it</a>
          </li>
          <li>
            <a href="user/pt-BR/email/deletion.html" target="preview">pt-BR</a>
          </li>
          <li>
            <a href="user/ru/email/deletion.html" target="preview">ru</a>
          </li>
          <li>
            <a href="user/sv-SE/email/deletion.html" target="preview">sv-SE</a>
          </li>
          <li>
            <a href="user/tr/email/deletion.html" target="preview">tr</a>
          </li>
          <li>
            <a href="user/uk/email/deletion.html" target="preview">uk</a>
          </li>
          <li>
            <a href="user/zh-TW/email/deletion.html" target="preview">zh-TW</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="user/en/email/invitation.html" target="preview">Invitation</a>
        (<a href="user/en/email/invitation.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="user/ar/email/invitation.html" target="preview">ar</a>
          </li>
          <li>
            <a href="user/de/email/invitation.html" target="preview">de</a>
          </li>
          <li>
            <a href="user/es-ES/email/invitation.html" target="preview">es-ES</a>
          </li>
          <li>
            <a href="user/et/email/invitation.html" target="preview">et</a>
          </li>
          <li>
            <a href="user/fa/email/invitation.html" target="preview">fa</a>
          </li>
          <li>
            <a href="user/fr/email/invitation.html" target="preview">fr</a>
          </li>
          <li>
            <a href="user/it/email/invitation.html" target="preview">it</a>
          </li>
          <li>
            <a href="user/pt-BR/email/invitation.html" target="preview">pt-BR</a>
          </li>
          <li>
            <a href="user/ru/email/invitation.html" target="preview">ru</a>
          </li>
          <li>
            <a href="user/sv-SE/email/invitation.html" target="preview">sv-SE</a>
          </li>
          <li>
            <a href="user/tr/email/invitation.html" target="preview">tr</a>
          </li>
          <li>
            <a href="user/uk/email/invitation.html" target="preview">uk</a>
          </li>
          <li>
            <a href="user/zh-TW/email/invitation.html" target="preview">zh-TW</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="user/en/email/new-client.html" target="preview">New Client</a>
        (<a href="user/en/email/new-client.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="user/ar/email/new-client.html" target="preview">ar</a>
          </li>
          <li>
            <a href="user/de/email/new-client.html" target="preview">de</a>
          </li>
          <li>
            <a href="user/es-ES/email/new-client.html" target="preview">es-ES</a>
          </li>
          <li>
            <a href="user/et/email/new-client.html" target="preview">et</a>
          </li>
          <li>
            <a href="user/fa/email/new-client.html" target="preview">fa</a>
          </li>
          <li>
            <a href="user/fr/email/new-client.html" target="preview">fr</a>
          </li>
          <li>
            <a href="user/it/email/new-client.html" target="preview">it</a>
          </li>
          <li>
            <a href="user/pt-BR/email/new-client.html" target="preview">pt-BR</a>
          </li>
          <li>
            <a href="user/ru/email/new-client.html" target="preview">ru</a>
          </li>
          <li>
            <a href="user/sv-SE/email/new-client.html" target="preview">sv-SE</a>
          </li>
          <li>
            <a href="user/tr/email/new-client.html" target="preview">tr</a>
          </li>
          <li>
            <a href="user/uk/email/new-client.html" target="preview">uk</a>
          </li>
          <li>
            <a href="user/zh-TW/email/new-client.html" target="preview">zh-TW</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="user/en/email/password-reset.html" target="preview">Password Reset</a>
        (<a href="user/en/email/password-reset.txt" target="preview">txt</a>)
        <ul class="i18n">
          <li>
            <a href="user/ar/email/password-reset.html" target="preview">ar</a>
          </li>
          <li>
            <a href="user/de/email/password-reset.html" target="preview">de</a>
          </li>
          <li>
            <a href="user/es-ES/email/password-reset.html" target="preview">es-ES</a>
          </li>
          <li>
            <a href="user/et/email/password-reset.html" target="preview">et</a>
          </li>
          <li>
            <a href="user/fa/email/password-reset.html" target="preview">fa</a>
          </li>
          <li>
            <a href="user/fr/email/password-reset.html" target="preview">fr</a>
          </li>
          <li>
            <a href="user/it/email/password-reset.html" target="preview">it</a>
          </li>
          <li>
            <a href="user/pt-BR/email/password-reset.html" target="preview">pt-BR</a>
          </li>
          <li>
            <a href="user/ru/email/password-reset.html" target="preview">ru</a>
          </li>
          <li>
            <a href="user/sv-SE/email/password-reset.html" target="preview">sv-SE</a>
          </li>
          <li>
            <a href="user/tr/email/password-reset.html" target="preview">tr</a>
          </li>
          <li>
            <a href="user/uk/email/password-reset.html" target="preview">uk</a>
          </li>
          <li>
            <a href="user/zh-TW/email/password-reset.html" target="preview">zh-TW</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="user/en/email/team-activation.html" target="preview">Team Activation</a>
        (<a href="user/en/email/team-activation.txt" target="preview">txt</a>)
        <ul class="i18n">
            <li>
              <a href="user/ar/email/team-activation.html" target="preview">ar</a>
            </li>
            <li>
              <a href="user/de/email/team-activation.html" target="preview">de</a>
            </li>
            <li>
              <a href="user/es-ES/email/team-activation.html" target="preview">es-ES</a>
            </li>
            <li>
              <a href="user/et/email/team-activation.html" target="preview">et</a>
            </li>
            <li>
              <a href="user/fa/email/team-activation.html" target="preview">fa</a>
            </li>
            <li>
              <a href="user/fr/email/team-activation.html" target="preview">fr</a>
            </li>
            <li>
              <a href="user/it/email/team-activation.html" target="preview">it</a>
            </li>
            <li>
              <a href="user/pt-BR/email/team-activation.html" target="preview">pt-BR</a>
            </li>
            <li>
              <a href="user/ru/email/team-activation.html" target="preview">ru</a>
            </li>
            <li>
              <a href="user/sv-SE/email/team-activation.html" target="preview">sv-SE</a>
            </li>
            <li>
              <a href="user/tr/email/team-activation.html" target="preview">tr</a>
            </li>
            <li>
              <a href="user/uk/email/team-activation.html" target="preview">uk</a>
            </li>
            <li>
              <a href="user/zh-TW/email/team-activation.html" target="preview">zh-TW</a>
            </li>
          </ul>
        </li>
      <li>
        <a href="user/en/email/update.html" target="preview">Update</a>
        (<a href="user/en/email/update.txt" target="preview">txt</a>)
        <ul class="i18n">
            <li>
              <a href="user/ar/email/update.html" target="preview">ar</a>
            </li>
            <li>
              <a href="user/de/email/update.html" target="preview">de</a>
            </li>
            <li>
              <a href="user/es-ES/email/update.html" target="preview">es-ES</a>
            </li>
            <li>
              <a href="user/et/email/update.html" target="preview">et</a>
            </li>
            <li>
              <a href="user/fa/email/update.html" target="preview">fa</a>
            </li>
            <li>
              <a href="user/fr/email/update.html" target="preview">fr</a>
            </li>
            <li>
              <a href="user/it/email/update.html" target="preview">it</a>
            </li>
            <li>
              <a href="user/pt-BR/email/update.html" target="preview">pt-BR</a>
            </li>
            <li>
              <a href="user/ru/email/update.html" target="preview">ru</a>
            </li>
            <li>
              <a href="user/sv-SE/email/update.html" target="preview">sv-SE</a>
            </li>
            <li>
              <a href="user/tr/email/update.html" target="preview">tr</a>
            </li>
            <li>
              <a href="user/uk/email/update.html" target="preview">uk</a>
            </li>
            <li>
              <a href="user/zh-TW/email/update.html" target="preview">zh-TW</a>
            </li>
          </ul>
        </li>
      <li>
        <a href="user/en/email/verification.html" target="preview">Verification</a>
        (<a href="user/en/email/verification.txt" target="preview">txt</a>)
        <ul class="i18n">
            <li>
              <a href="user/ar/email/verification.html" target="preview">ar</a>
            </li>
            <li>
              <a href="user/de/email/verification.html" target="preview">de</a>
            </li>
            <li>
              <a href="user/es-ES/email/verification.html" target="preview">es-ES</a>
            </li>
            <li>
              <a href="user/et/email/verification.html" target="preview">et</a>
            </li>
            <li>
              <a href="user/fa/email/verification.html" target="preview">fa</a>
            </li>
            <li>
              <a href="user/fr/email/verification.html" target="preview">fr</a>
            </li>
            <li>
              <a href="user/it/email/verification.html" target="preview">it</a>
            </li>
            <li>
              <a href="user/pt-BR/email/verification.html" target="preview">pt-BR</a>
            </li>
            <li>
              <a href="user/ru/email/verification.html" target="preview">ru</a>
            </li>
            <li>
              <a href="user/sv-SE/email/verification.html" target="preview">sv-SE</a>
            </li>
            <li>
              <a href="user/tr/email/verification.html" target="preview">tr</a>
            </li>
            <li>
              <a href="user/uk/email/verification.html" target="preview">uk</a>
            </li>
            <li>
              <a href="user/zh-TW/email/verification.html" target="preview">zh-TW</a>
            </li>
          </ul>
        </li>
    </ul>
  </div>
  <iframe class="main" name="preview" src="provider/en/email/activation.html"></iframe>
</body>

</html>
