replicaCount: 3

image:
  repository: quay.io/wire/federator
  tag: do-not-use

service:
  internalFederatorPort: 8080
  externalFederatorPort: 8081

resources:
  # FUTUREWORK: come up with numbers which didn't appear out of thin air
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
config:
  logLevel: Debug
  logFormat: JSON
  optSettings:
    setFederationStrategy:
      allowedDomains: []
