replicaCount: 1
image:
  repository: quay.io/wire/background-worker
  tag: do-not-use
service:
  internalPort: 8080
  externalPort: 8080
# FUTUREWORK: Review these values when we have some experience
resources:
  requests:
    memory: "200Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
metrics:
  serviceMonitor:
    enabled: false
config:
  logLevel: Info
  logFormat: StructuredJSON
  enableFederation: false # keep in sync with brig, cargohold and galley charts' config.enableFederation as well as wire-server chart's tags.federation
  rabbitmq:
    host: rabbitmq
    port: 5672
    vHost: /
    adminPort: 15672
    enableTls: false
    insecureSkipVerifyTls: false
    # tlsCaSecretRef:
    #   name: <secret-name>
    #   key: <ca-attribute>
  # Cassandra clusters used by background-worker
  cassandra:
    host: aws-cassandra
  cassandraGalley:
    host: aws-cassandra
  cassandraBrig:
    host: aws-cassandra

  # Postgres connection settings
  #
  # Values are described in https://www.postgresql.org/docs/17/libpq-connect.html#LIBPQ-PARAMKEYWORDS
  # To set the password via a brig secret see `secrets.pgPassword`.
  #
  # `additionalVolumeMounts` and `additionalVolumes` can be used to mount
  # additional files (e.g. certificates) into the brig container. This way
  # does not work for password files (parameter `passfile`), because
  # libpq-connect requires access rights (mask 0600) for them that we cannot
  # provide for random uids.
  #
  # Below is an example configuration we're using for our CI tests.
  postgresql:
    host: postgresql # DNS name without protocol
    port: "5432"
    user: wire-server
    dbname: wire-server
  postgresqlPool:
    size: 5
    acquisitionTimeout: 10s
    agingTimeout: 1d
    idlenessTimeout: 10m

  # Setting this to `true` will start conversation migration to postgresql.
  #
  # NOTE: It is very important that galley be configured to with
  # `settings.postgresMigration.conversation` with `migration-to-postgresql`
  # before setting this to `true`.
  migrateConversations: false

  backendNotificationPusher:
    pushBackoffMinWait: 10000 # in microseconds, so 10ms
    pushBackoffMaxWait: 300000000 # microseconds, so 300s
    remotesRefreshInterval: 300000000 # microseconds, so 300s

  # Background jobs consumer configuration
  backgroundJobs:
    # Maximum number of in-flight jobs per process
    concurrency: 8
    # Per-attempt timeout in seconds
    jobTimeout: 60
    # Total attempts, including the first try
    maxAttempts: 3

  # Controls where conversation data is stored/accessed
  postgresMigration:
    conversation: postgresql

secrets:
  {}
  # pgPassword: <postgres-password>

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
