replicaCount: 1
image:
  repository: quay.io/wire/background-worker
  tag: do-not-use
# FUTUREWORK: Review these values when we have some experience
resources:
  requests:
    memory: "200Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
# FUTUREWORK: Implement metrics
# metrics:
#   serviceMonitor:
#     enabled: false
config:
  logLevel: Info
  logFormat: StructuredJSON
  rabbitmq:
    host: rabbitmq
    port: 5672
    vHost: /
    adminPort: 15672
  backendNotificationPusher:
    remotesRefreshInterval: 60 # seconds

serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'background-worker' exists or change the 'name' field to 'default'
  create: true
  name: background-worker
  annotations: {}
  automountServiceAccountToken: true


secrets: {}

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
