apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sftd.fullname" . }}-join-call
  labels:
    {{- include "sftd.join-call.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.joinCall.replicaCount }}
  selector:
    matchLabels:
      {{- include "sftd.join-call.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sftd.join-call.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/configmap: {{ include (print .Template.BasePath "/configmap-join-call.yaml") . | sha256sum }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: nginx-config
          configMap:
            name: {{ include "sftd.fullname" . }}-join-call
        - name: sftd-disco
          emptyDir: {}
      containers:
        - name: sftd-disco
          image: quay.io/wire/sftd_disco:wip-2 # TODO configure + version
          volumeMounts:
          - name: sftd-disco
            mountPath: /etc/wire/sftd-disco
            readOnly: false
          command:
            - "/bin/sh"
            - "-c"
            - |
              /usr/bin/sftd-disco --srvRecord _sft._tcp.{{ include "sftd.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local
        - name: nginx
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.joinCall.image.repository }}:{{ .Values.joinCall.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /etc/nginx/conf.d/default.conf.template
              name: nginx-config
              subPath: default.conf.template
            - name: sftd-disco
              mountPath: /etc/wire/sftd-disco
              readOnly: true
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          command:
            - "/bin/sh"
            - "-c"
            - |
              export NAMESERVER=`cat /etc/resolv.conf | grep "nameserver" | awk '{print $2}' | tr '\n' ' '`
              envsubst '$NAMESERVER $POD_NAMESPACE' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf
              exec nginx -g 'daemon off;'
