replicaCount: 3
image:
  repository: quay.io/wire/cargohold
  tag: do-not-use
service:
  externalPort: 8080
  internalPort: 8080
metrics:
  serviceMonitor:
    enabled: false
resources:
  requests:
    memory: "80Mi"
    cpu: "100m"
  limits:
    memory: "200Mi"
config:
  logLevel: Info
  logFormat: StructuredJSON
  logNetStrings: false
  enableFederation: false # keep enableFederation default in sync with brig and galley chart's config.enableFederation as well as wire-server chart's tags.federation
  aws:
    region: "eu-west-1"
    s3Bucket: assets
    # Multi-ingress configuration:
    # multiIngress:
    #   - nginz-https.red.example.com: assets.red.example.com
    #   - nginz-https.green.example.com: assets.green.example.com
  proxy: {}
  settings:
    maxTotalBytes: 5368709120
    downloadLinkTTL: 300 # Seconds
    # Disable one ore more API versions. Please make sure the configuration value is the same in all these charts:
    # brig, cannon, cargohold, galley, gundeck, proxy, spar.
    # disabledAPIVersions: [ v3 ]

serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'cargohold' exists or change the 'name' field to 'default'
  create: true
  name: cargohold
  annotations: {}
  automountServiceAccountToken: true

secrets: {}

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  # runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
