apiVersion: v1
data:
  cannon.yaml: |
    logFormat: {{ .Values.config.logFormat }}
    logLevel: {{ .Values.config.logLevel }}
    logNetStrings: {{ .Values.config.logNetStrings }}

    cannon:
      host: 0.0.0.0
      port: {{ .Values.service.externalPort }}
      externalHostFile: /etc/wire/cannon/externalHost/host.txt

    gundeck:
      host: gundeck
      port: 8080

    {{- with .Values.config.rabbitmq }}
    rabbitmq:
      host: {{ .host }}
      port: {{ .port }}
      vHost: {{ .vHost }}
      enableTls: {{ .enableTls }}
      insecureSkipVerifyTls: {{ .insecureSkipVerifyTls }}
      {{- if .tlsCaSecretRef }}
      caCert: /etc/wire/cannon/rabbitmq-ca/{{ .tlsCaSecretRef.key }}
      {{- end }}
    {{- end }}

    drainOpts:
      gracePeriodSeconds: {{ .Values.config.drainOpts.gracePeriodSeconds }}
      millisecondsBetweenBatches: {{ .Values.config.drainOpts.millisecondsBetweenBatches }}
      minBatchSize: {{ .Values.config.drainOpts.minBatchSize }}

    disabledAPIVersions: {{ toJson .Values.config.disabledAPIVersions }}

kind: ConfigMap
metadata:
  name: cannon
