global:
  storageClass: {{ .Values.storageClass }}

redis-cluster:
  persistence:
    size: 100Mi
  volumePermissions:
    enabled: true
  password: very-secure-redis-cluster-password
  tls:
    enabled: true
    existingSecret: redis-certificate
