apiVersion: v1
kind: ConfigMap
metadata:
  name: "proxy"
data:
  proxy.yaml: |
    logFormat: {{ .Values.config.logFormat }}
    logLevel: {{ .Values.config.logLevel }}
    logNetStrings: {{ .Values.config.logNetStrings }}
    disabledAPIVersions: {{ toJson .Values.config.disabledAPIVersions }}
    proxy:
      host: 0.0.0.0
      port: {{ .Values.service.internalPort }}
    giphyEndpoint:
      host: api.giphy.com
      port: 443
    httpPoolSize: 1000
    maxConns: 5000
    secretsConfig: /etc/wire/proxy/secrets/proxy.config
