apiVersion: v1
kind: ConfigMap
metadata:
  name: "integration-config"
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-delete-policy": before-hook-creation
data:
  integration.yaml: |
    brig:
      host: brig.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    cannon:
      host: cannon.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    cargohold:
      host: cargohold.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    federatorInternal:
      host: federator.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    federatorExternal:
      host: federator.{{ .Release.Namespace }}.svc.cluster.local
      port: 8081

    galley:
      host: galley.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    gundeck:
      host: gundeck.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    nginz:
      host: nginz-integration-http.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    spar:
      host: spar.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    proxy:
      host: proxy.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    backgroundWorker:
      host: backgroundWorker.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    stern:
      host: stern.{{ .Release.Namespace }}.svc.cluster.local
      port: 8080

    originDomain: federation-test-helper.{{ .Release.Namespace }}.svc.cluster.local

    rabbitmq:
      host: rabbitmq
      adminPort: 15672

    ownDomain: https://{{ .Release.Namespace }}.svc.cluster.local

    provider:
      privateKey: /etc/wire/brig/secrets/provider-privatekey.pem
      publicKey: /etc/wire/brig/secrets/provider-publickey.pem
      cert: /etc/wire/brig/secrets/provider-publiccert.pem

    backendTwo:

      brig:
        host: brig.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      cannon:
        host: cannon.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      cargohold:
        host: cargohold.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      federatorInternal:
        host: federator.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      federatorExternal:
        host: federator.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8081

      galley:
        host: galley.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      gundeck:
        host: gundeck.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      nginz:
        host: nginz-integration-http.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      spar:
        host: cannon.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      proxy:
        host: proxy.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      backgroundWorker:
        host: backgroundWorker.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      stern:
        host: stern.{{ .Release.Namespace }}-fed2.svc.cluster.local
        port: 8080

      originDomain: federation-test-helper.{{ .Release.Namespace }}-fed2.svc.cluster.local

    dynamicBackends:
      {{- range $name, $dynamicBackend := .Values.config.dynamicBackends }}
      {{ $name }}:
        domain: {{ $dynamicBackend.federatorExternalHostPrefix }}.{{ $.Release.Namespace }}.svc.cluster.local
        federatorExternalPort: {{ $dynamicBackend.federatorExternalPort }}
      {{- end }}
    cassandra:
      host: {{ .Values.config.cassandra.host }}
      port: {{ .Values.config.cassandra.port }}
      {{- if eq (include "useCassandraTLS" .Values.config) "true" }}
      tlsCa: /etc/wire/galley/cassandra/{{- (include "tlsSecretRef" .Values.config | fromYaml).key }}
      {{- end }}
