apiVersion: v1
kind: Pod
metadata:
  name: "{{ .Release.Name }}-integration-integration"
  annotations:
    "helm.sh/hook": test
  labels:
    app: integration-integration
    release: {{ .Release.Name }}
spec:
  volumes:
    - name: "integration-config"
      configMap:
        name: "integration-config"

  containers:
  - name: integration
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    command: [ "integration", "--config", "/etc/wire/integration/integration.yaml" ]
    volumeMounts:
    - name: "integration-config"
      mountPath: "/etc/wire/integration"

  restartPolicy: Never
