INTEGRATION_TEST=1
AWS_REGION=
AWS_ACCOUNT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_USER_EVENT_QUEUE=
AWS_USER_BLACKLIST_TABLE=
AWS_USER_PREKEYS_TABLE=
AWS_PUSH_EVENT_QUEUE=
AWS_CLOUDFRONT_DOMAIN=
AWS_CLOUDFRONT_KEYPAIR_ID=
AWS_CLOUDFRONT_PRIVATEKEY=
AWS_ASSETS_BUCKET=
COOKIE_DOMAIN=127.0.0.1
EMAIL_SENDER=
NEXMO_KEY=
NEXMO_SECRET=
NEXMO_ENDPOINT=sandbox
TEAM_CREATOR_WELCOME_URL=
TEAM_MEMBER_WELCOME_URL=
PROVIDER_HOME_URL=https://provider.localhost/
PROVIDER_APPROVAL_TO=success@simulator.amazonses.com
TEST_CERT=test/resources/cert.pem
TEST_KEY=test/resources/key.pem
TEST_PUBKEY=test/resources/pubkey.pem
TURN_SERVERS=test/resources/turn/servers.txt
TURN_SECRET=test/resources/turn/secret.txt
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_SENDER=
UPLOAD_MAX_BYTES=27262976
USER_ACTIVATION_TIMEOUT=5
USER_CONNECTION_LIMIT=65
USER_COOKIE_LIMIT=5
USER_COOKIE_MIN_DEVIATION=5
USER_COOKIE_RETRY_AFTER=1
USER_COOKIE_RENEW_AGE=2
ZAUTH_PRIVKEYS=test/resources/zauth/privkeys.txt
ZAUTH_PUBKEYS=test/resources/zauth/pubkeys.txt
ZAUTH_KEY_INDEX=1
ZAUTH_USER_TOKEN_TIMEOUT=120
ZAUTH_SESSION_TOKEN_TIMEOUT=60
ZAUTH_ACCESS_TOKEN_TIMEOUT=30
ZAUTH_PROVIDER_TOKEN_TIMEOUT=60
