*#
*.aux*
*.chi
*.chs.h
*.db
*.gz
*.hi
*.hp*
*.o
*.org
*.prof*
*.ps*
*.pyc
*.pyc
*.tar
*.tmp
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bench
.devel
.metadata
.shelly
.test
.cabal-sandbox
.stack-work
cabal.sandbox.config
Setup.hs
TAGS
\#*#
__pycache__
cabal-dev
dist
gen-hs
log
tags
tmp
vendor
virtualenv
.env.private

