host: 0.0.0.0
port: 8080

cassandra-host: cassandra.default.svc.cluster.local
cassandra-port: 9042
cassandra-keyspace: brig_test

elasticsearch-url: http://elasticsearch.default.svc.cluster.local:9200
user-index: directory_test

galley-host: galley.default.svc.cluster.local
galley-port: 8080

gundeck-host: gundeck.default.svc.cluster.local
gundeck-port: 8080

aws-account: <insert AWS account ID here>
aws-ses-queue: <insert SES SQS queue here>
aws-internal-queue: <insert internal SQS queue here>
aws-blacklist-table: <insert blacklist Dyanamo table here>
aws-pre-key-table: <insert prekey Dynamo table here>
aws-key-id: <insert AWS key ID here>
aws-secret-key: <insert AWS secret key here>

template-dir: /usr/share/wire/templates
email-sender: <insert e-mail sender address here>
twilio-sender: <insert Twilio sender number here>

user-activation-url: http://brig.default.svc.cluster.local:8080/activate?key=\${key}\&code=\${code}
user-sms-activation-url: http://brig.default.svc.cluster.local:8080/v/\${code}
user-password-reset-url: http://brig.default.svc.cluster.local:8080/password-reset/\${key}?code=\${code}
user-invitation-url: http://brig.default.svc.cluster.local:8080/register?invitation_code=\${code}
user-deletion-user-url: http://brig.default.svc.cluster.local:8080/users/delete?key=\${key}\&code=\${code}

provider-home-url: https://provider.localhost/
provider-activation-url: provider-activation-url=http://brig.default.svc.cluster.local:8080/provider/activate?key=\${key}\&code=\${code}
provider-approval-url: http://brig.default.svc.cluster.local:8080/provider/approve?key=\${key}\&code=\${code}
provider-approval-to: success@simulator.amazonses.com  # change is you're not using SES

team-invitation-url: http://brig.default.svc.cluster.local:8080/register?team=\${team}\&team_code=\${code}

zauth-private-keys: /etc/wire/brig/secrets/privkeys.txt
zauth-public-keys: /etc/wire/brig/secrets/pubkeys.txt
zauth-settings:
  key-index: 1
  user-token-timeout: 120
  session-token-timeout: 60
  access-token-timeout: 30
  provider-token-timeout: 60

turn-servers: /etc/wire/brig/secrets/servers.txt
turn-secret: /etc/wire/brig/secrets/secret.txt
turn-lifetime: 3600

settings:
  activation-timeout: 5
  twilio-sid: <insert Twilio SID here>
  twilio-token: <insert Twilio token here>
  nexmo-key: <insert NexMo key here>
  nexmo-secret: <insert NexMo secret here>
  nexmo-endpoint: <insert NexMo endpoint here>
  twilio-endpoint: <insert Twilio endpoint here>
  user-max-connections: 129
  cookie-domain: 127.0.0.1
  cookie-insecure: true
  user-cookie-renew-age: 2
  user-cookie-limit: 5
  user-cookie-throttle:
    std-dev: 1
    retry-after: 1
  default-locale: en
