resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: elasticsearch-ca
      namespace: '{{ .Release.Namespace }}'
    data:
      tls.crt: {{ readFile "./elasticsearch-ca.pem" | b64enc | quote }}
      tls.key: {{ readFile "./elasticsearch-ca-key.pem" | b64enc | quote }}
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: elasticsearch
      namespace: '{{ .Release.Namespace }}'
    spec:
      ca:
        secretName: elasticsearch-ca

  # redis CA and certificate
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: redis-ca-issuer
      namespace: '{{ .Release.Namespace }}'
    spec:
      selfSigned: {}
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: redis-ca
      namespace: '{{ .Release.Namespace }}'
    spec:
      secretName: redis-ca-certificate
      isCA: true
      duration: 2160h # 90d
      renewBefore: 360h # 15d
      commonName: redis.example.com
      privateKey:
        algorithm: RSA
        encoding: PKCS1
        size: 2048
      issuerRef:
        name: redis-ca-issuer
        kind: Issuer
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: redis-issuer
      namespace: '{{ .Release.Namespace }}'
    spec:
      ca:
        secretName: redis-ca-certificate
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: redis
      namespace: '{{ .Release.Namespace }}'
    spec:
      secretName: redis-certificate
      isCA: false
      duration: 2160h # 90d
      renewBefore: 360h # 15d
      commonName: databases-ephemeral-redis-ephemeral-master
      privateKey:
        algorithm: RSA
        encoding: PKCS1
        size: 2048
      issuerRef:
        name: redis-issuer
        kind: Issuer

  # RabbitMQ CA and certificate
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: rabbitmq-ca-issuer
      namespace: '{{ .Release.Namespace }}'
    spec:
      selfSigned: {}
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: rabbitmq-ca
      namespace: '{{ .Release.Namespace }}'
    spec:
      secretName: rabbitmq-ca-certificate
      isCA: true
      duration: 2160h # 90d
      renewBefore: 360h # 15d
      commonName: rabbitmq.example.com
      privateKey:
        algorithm: RSA
        encoding: PKCS1
        size: 2048
      issuerRef:
        name: rabbitmq-ca-issuer
        kind: Issuer
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: rabbitmq-issuer
      namespace: '{{ .Release.Namespace }}'
    spec:
      ca:
        secretName: rabbitmq-ca-certificate
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: rabbitmq
      namespace: '{{ .Release.Namespace }}'
    spec:
      secretName: rabbitmq-certificate
      isCA: false
      duration: 2160h # 90d
      renewBefore: 360h # 15d
      commonName: rabbitmq
      privateKey:
        algorithm: RSA
        encoding: PKCS1
        size: 2048
      issuerRef:
        name: rabbitmq-issuer
        kind: Issuer
