teamSettings:
  enabled: true
accountPages:
  enabled: true
federator:
  enabled: true
  integrationTestHelper: true
tls:
  useCertManager: false

config:
  dns:
    https: nginz-https.integration.example.com
    ssl: nginz-ssl.integration.example.com
    webapp: webapp.integration.example.com
    fakeS3: assets.integration.example.com
    teamSettings: teams.integration.example.com
    accountPages: account.integration.example.com
    # federator: dynamically set by hack/bin/integration-setup.sh

# the secrets/tlsWildcardCert and secrets/tlsWildcardKey are
# dynamically provided from hack/bin/selfsigned-kubernetes.sh
