# Fully qualified domain name (FQDN) of the domain where to serve inbucket.
# E.g. 'inbucket.my-test-env.wire.link'
host: "inbucket.example.com"

# Configure the inbucket "parent" chart
inbucket:
  image:
    tag: 3.0.2

  extraEnv:
    INBUCKET_WEB_GREETINGFILE: "/config/greeting.html"
    INBUCKET_MAILBOXNAMING: full
    INBUCKET_STORAGE_RETENTIONPERIOD: "72h"

# The production ACME server of let's encrypt has a very strict rate limiting
# and bans for weeks. Better try with the staging ACME server first.
useStagingACMEServer: true

# Enables and configures HTTP Basic Auth secret as e.g. created with
# `htpasswd -bc auth username password`.
#
# basicAuthSecret: username:$apr1$3jXFMMZX$z6OOf4eUn1wU.NYJt246u1
