apiVersion: apps/v1
kind: Deployment
metadata:
  name: reaper
  labels:
    app: reaper
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reaper
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: reaper
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: reaper-role
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: reaper
      containers:
      - name: reaper
        image: bitnami/kubectl:1.24.12
        command: ["bash"]
        args:
        - -c
        - |
          NAMESPACE={{ .Release.Namespace }}
          kill_all_cannons() {
              echo "Killing all cannons"
              while IFS= read -r cannon
              do
                  echo "Killing $cannon"
                  kubectl -n "$NAMESPACE" delete pod "$cannon"
              done < <(kubectl -n "$NAMESPACE" get pods | grep -e "cannon" | awk '{ print $1 }')
          }

          while true
          do
              FIRST_POD=$(kubectl -n "$NAMESPACE" get pods --sort-by=.metadata.creationTimestamp | grep -e "cannon" -e "redis-ephemeral" | head -n 1 | awk '{ print $1 }')
              if [[ "$FIRST_POD" =~ "redis-ephemeral" ]];
                  then echo "redis-ephemeral is the oldest pod, all good"
                  else kill_all_cannons
              fi
              echo 'Sleeping 1 seconds'
              sleep 1
          done
