cargohold:
  host: 0.0.0.0
  port: 8084

aws:
  s3Endpoint: https://s3.eu-west-1.amazonaws.com # http://localhost:4570
  s3Bucket: <insert-bucket-name-here>
  cfDomain: <insert-cloudfront-domain-here>
  cfKeyPairId: <insert-keypair-id-here>
  cfPrivateKey: cf-pk.pem

settings:
  maxTotalBytes: 27262976
  disableCloudFront: false
