networks:
  demo_wire:
    external: false

services:
  brig_schema-v1:
    container_name: brig-schema-federation-v1
    image: quay.io/wire/brig-schema:4.42.0-pre.27
    command: --host cassandra --keyspace brig_test_federation_v1 --replication-factor 1
    depends_on:
      cassandra:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - demo_wire

  brig-v1:
    container_name: brig-federation-v1
    image: quay.io/wire/brig:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/brig/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22082:8080'
    healthcheck: &haskell_health_check
      test: "curl --fail localhost:8080/i/status"
    depends_on:
      brig_schema-v1:
        condition: service_completed_successfully
      aws_cli:
        condition: service_completed_successfully
      init_vhosts:
        condition: service_completed_successfully
    environment:
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=dummykey
      - AWS_SECRET_ACCESS_KEY=dummysecret
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}

  galley_schema-v1:
    container_name: galley-schema-federation-v1
    image: quay.io/wire/galley-schema:4.42.0-pre.27
    command: --host cassandra --keyspace galley_test_federation_v1 --replication-factor 1
    depends_on:
      cassandra:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - demo_wire

  galley-v1:
    container_name: galley-federation-v1
    image: quay.io/wire/galley:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/galley/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22085:8080'
    healthcheck: *haskell_health_check
    depends_on:
      galley_schema-v1:
        condition: service_completed_successfully
      aws_cli:
        condition: service_completed_successfully
      init_vhosts:
        condition: service_completed_successfully
    environment:
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=dummykey
      - AWS_SECRET_ACCESS_KEY=dummysecret
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}

  cargohold-v1:
    container_name: cargohold-federation-v1
    image: quay.io/wire/cargohold:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/cargohold/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22084:8080'
    healthcheck: *haskell_health_check
    depends_on:
      aws_cli:
        condition: service_completed_successfully
    environment:
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=dummykey
      - AWS_SECRET_ACCESS_KEY=dummysecret

  gundeck_schema-v1:
    container_name: gundeck-schema-federation-v1
    image: quay.io/wire/gundeck-schema:4.42.0-pre.27
    command: --host cassandra --keyspace gundeck_test_federation_v1 --replication-factor 1
    depends_on:
      cassandra:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - demo_wire

  gundeck-v1:
    container_name: gundeck-federation-v1
    image: quay.io/wire/gundeck:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/gundeck/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22086:8080'
    healthcheck: *haskell_health_check
    depends_on:
      gundeck_schema-v1:
        condition: service_completed_successfully
      aws_cli:
        condition: service_completed_successfully
      redis-v1:
        condition: service_started
    environment:
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=dummykey
      - AWS_SECRET_ACCESS_KEY=dummysecret

  spar_schema-v1:
    container_name: spar-schema-federation-v1
    image: quay.io/wire/spar-schema:4.42.0-pre.27
    command: --host cassandra --keyspace spar_test_federation_v1 --replication-factor 1
    depends_on:
      cassandra:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
    networks:
      - demo_wire

  spar-v1:
    container_name: spar-federation-v1
    image: quay.io/wire/spar:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/spar/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22088:8080'
    healthcheck: *haskell_health_check
    depends_on:
      spar_schema-v1:
        condition: service_completed_successfully

  cannon-v1:
    container_name: cannon-federation-v1
    image: quay.io/wire/cannon:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/cannon/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22083:8080'
    healthcheck: *haskell_health_check

  federator-v1:
    container_name: federator-federation-v1
    image: quay.io/wire/federator:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/federator/conf
    networks:
      - demo_wire
      - coredns
    extra_hosts:
      - "host.docker.internal.:host-gateway"
    ports:
      - '127.0.0.1:22097:8080'
      - '127.0.0.1:22098:8081'
    # healthcheck: *haskell_health_check
    healthcheck:
      test: "true"
    # depends_on:
      # coredns-federation-v1:
      #   condition: service_started

  background_worker-v1:
    container_name: background-worker-federation-v1
    image: quay.io/wire/background-worker:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/background-worker/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22089:8080'
    depends_on:
      init_vhosts:
        condition: service_completed_successfully
    environment:
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}

  proxy-v1:
    container_name: proxy-federation-v1
    image: quay.io/wire/proxy:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/proxy/conf
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22087:8080'
    healthcheck: *haskell_health_check

  nginz-v1:
    container_name: nginz-federation-v1
    image: quay.io/wire/nginz:4.42.0-pre.27
    volumes:
      - ./federation-v1:/etc/wire/
    networks:
      - demo_wire
    ports:
      - '127.0.0.1:22080:8080'
      - '127.0.0.1:22443:8443'
    depends_on:
      brig-v1:
        condition: service_healthy
      galley-v1:
        condition: service_healthy
      gundeck-v1:
        condition: service_healthy
      cargohold-v1:
        condition: service_healthy
      cannon-v1:
        condition: service_healthy
      spar-v1:
        condition: service_healthy
      federator-v1:
        condition: service_healthy
      proxy-v1:
        condition: service_healthy

  # We have to run a separate redis instance for each version of wire-server we
  # want. This is because gundeck just assumes the whole redis is for itself
  redis-v1:
    container_name: redis-federation-v1
    image: redis:6.0-alpine
    networks:
      - demo_wire

  # This coredns serves slightly different SRV records, so federator running in
  # a docker container can talk to federator running on the host.
  coredns-federation-v1:
    image: docker.io/coredns/coredns:1.8.4
    volumes:
      - ./federation-v1/coredns-config:/coredns-config
    entrypoint:
      - /coredns
      - -conf
      - /coredns-config/Corefile
    networks:
      coredns:
        ipv4_address: 172.20.1.4
