global
    log stdout local0
    stats socket /var/lib/haproxy/stats mode 666 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    tune.idletimer 30s
    tune.http.cookielen 4096

# Use Docker's embedded DNS for service discovery inside the compose network
resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    hold valid 10s

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    retries 3
    timeout connect 5000ms
    timeout client 3600000ms
    timeout server 3600000ms
    timeout check 5000ms
    
    option tcp-check
    

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE
    stats auth guest:alpaca-grapefruit

frontend rabbitmq_amqp
    bind *:5672
    mode tcp
    option tcplog
    default_backend rabbitmq_amqp_cluster
    
    timeout client 3600000ms

frontend rabbitmq_amqps
    bind *:5671
    mode tcp
    option tcplog
    default_backend rabbitmq_amqps_cluster
    
    timeout client 3600000ms

frontend rabbitmq_management
    bind *:15672
    mode http
    option httplog
    default_backend rabbitmq_management_cluster
    
    timeout client 3600000ms
 
frontend rabbitmq_management_tls
    bind *:15671
    mode tcp
    option tcplog
    default_backend rabbitmq_management_tls_cluster
    
    timeout client 3600000ms

backend rabbitmq_amqp_cluster
    mode tcp
    balance roundrobin
    
    timeout server 3600000ms
    timeout check 3000ms
    
    option tcp-check
    tcp-check connect
    
    server rabbitmq rabbitmq:5672 check inter 10000ms fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr last,libc,none

backend rabbitmq_amqps_cluster
    mode tcp
    balance roundrobin
    
    timeout server 3600000ms
    timeout check 3000ms
    
    option tcp-check
    tcp-check connect
    
    server rabbitmq-tls rabbitmq:5671 check inter 10000ms fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr last,libc,none

backend rabbitmq_management_cluster
    mode http
    balance roundrobin
    option httpchk GET /api/overview
    http-check send-state
    http-check connect default
    http-check send meth GET uri /api/overview hdr Authorization "Basic YWRtaW46cGFzc3dvcmQ="
    http-check expect status 200
    
    timeout server 3600000ms
    
    server rabbitmq-mgmt rabbitmq:15672 check inter 10000ms fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr last,libc,none

backend rabbitmq_management_tls_cluster
    mode tcp
    balance roundrobin
    
    timeout server 3600000ms
    timeout check 3000ms
    
    option tcp-check
    tcp-check connect
    
    server rabbitmq-mgmt-tls rabbitmq:15671 check inter 10000ms fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr last,libc,none
