resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: elasticsearch-ca
      namespace: '{{ .Release.Namespace }}'
    data:
      tls.crt: {{ readFile "./elasticsearch-ca.pem" | b64enc | quote }}
      tls.key: {{ readFile "./elasticsearch-ca-key.pem" | b64enc | quote }}
  - apiVersion: cert-manager.io/v1
    kind: Issuer
    metadata:
      name: elasticsearch
      namespace: '{{ .Release.Namespace }}'
    spec:
      ca:
        secretName: elasticsearch-ca
