{{- $apiIsStable := eq (include "ingress.isStable" .) "true" -}}
{{- $ingressSupportsPathType := eq (include "ingress.supportsPathType" .) "true" -}}
apiVersion: {{ include "ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: "inbucket"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "inbucket.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "inbucket.chart" . }}
  annotations:
    kubernetes.io/ingress.class: nginx
{{- if (hasKey .Values "basicAuthSecret") }}
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: inbucket-basic-auth
    nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required - inbucket'
{{- end }}
spec:
  tls:
    - hosts:
        - {{ required "must specify host" .Values.host | quote }}
      secretName: letsencrypt-inbucket-secret
  rules:
    - host: {{ required "must specify host" .Values.host | quote }}
      http:
        paths:
          - path: /
            {{- if $ingressSupportsPathType }}
            pathType: Prefix
            {{- end }}
            backend:
                {{- if $apiIsStable }}
                service:
                  name: {{ include "inbucket.fullname" . }}
                  port:
                    name: http
                {{- else }}
                serviceName: {{ include "inbucket.fullname" . }}
                servicePort: http
                {{- end }}
