replicaCount: 3
image:
  repository: quay.io/wire/galley
  tag: do-not-use
  schemaRepository: quay.io/wire/galley-schema
service:
  externalPort: 8080
  internalPort: 8080
resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
config:
  logLevel: Info
  logFormat: JSON
  cassandra:
    host: aws-cassandra
    replicaCount: 3
  enableFederator: false # keep enableFederator default in sync with brig and cargohold chart's config.enableFederator as well as wire-server chart's tag.federator
  settings:
    maxTeamSize: 10000
    maxConvSize: 500
    # Before making indexedBillingTeamMember true while upgrading, please
    # refer to notes here: https://github.com/wireapp/wire-server-deploy/releases/tag/v2020-05-15
    indexedBillingTeamMember: false
    featureFlags:  # see #RefConfigOptions in `/docs/reference` (https://github.com/wireapp/wire-server/)
      sso: disabled-by-default
      legalhold: disabled-by-default
      teamSearchVisibility: disabled-by-default
      classifiedDomains:
        status: disabled
        config:
          domains: []
      # optional
      fileSharing:
        defaults:
          status: enabled
          lockStatus: unlocked
      # optional
      sndFactorPasswordChallenge:
        defaults:
          status: disabled
          lockStatus: locked
      # optional
      validateSAMLemails:
        defaults:
          status: enabled
      # optional
      appLock:
        defaults:
          status: enabled
          config:
            enforceAppLock: false
            inactivityTimeoutSecs: 60
      # optional
      conferenceCalling:
        defaults:
          status: enabled
      # optional
      selfDeletingMessages:
        defaults:
          status: enabled
          lockStatus: unlocked
          config:
            enforcedTimeoutSeconds: 0
      # optional
      conversationGuestLinks:
        defaults:
          status: enabled
          lockStatus: unlocked
 
  aws:
    region: "eu-west-1"
  proxy: {}
serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'galley' exists or change the 'name' field to 'default'
  create: true
  name: galley
  annotations: {}
  automountServiceAccountToken: true

secrets: {}
