replicaCount: 3
image:
  repository: quay.io/wire/galley
  tag: do-not-use
  schemaRepository: quay.io/wire/galley-schema
service:
  externalPort: 8080
  internalPort: 8080
resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
config:
  logLevel: Info
  logFormat: JSON
  cassandra:
    host: aws-cassandra
    replicaCount: 3
  enableFederator: false # keep enableFederator default in sync with brig and cargohold chart's config.enableFederator as well as wire-server chart's tag.federator
  settings:
    maxTeamSize: 500
    maxConvSize: 500
    # Before making indexedBillingTeamMember true while upgrading, please
    # refer to notes here: https://github.com/wireapp/wire-server-deploy/releases/tag/v2020-05-15
    indexedBillingTeamMember: false
    featureFlags:  # see #RefConfigOptions in `/docs/reference` (https://github.com/wireapp/wire-server/)
      sso: disabled-by-default
      legalhold: disabled-by-default
      teamSearchVisibility: disabled-by-default
      classifiedDomains:
        status: disabled
        config:
          domains: []
      # fileSharing setting is optional
      # if not set the default feature status is enabled and the default lock status is unlocked
      # fileSharing:
      #   defaults:
      #     status: enabled
      #     lockStatus: unlocked
      # sndFactorPasswordChallenge setting is optional
      # sndFactorPasswordChallenge:
      #   defaults:
      #     status: disabled
      #     lockStatus: locked
  aws:
    region: "eu-west-1"
  proxy: {}
serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'galley' exists or change the 'name' field to 'default'
  create: true
  name: galley
  annotations: {}
  automountServiceAccountToken: true

secrets: {}
