replicaCount: 3
image:
  repository: quay.io/wire/galley
  tag: do-not-use
  schemaRepository: quay.io/wire/galley-schema
service:
  externalPort: 8080
  internalPort: 8080
metrics:
  serviceMonitor:
    enable: false
resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
config:
  logLevel: Info
  logFormat: StructuredJSON
  logNetStrings: false
  cassandra:
    host: aws-cassandra
    replicaCount: 3
  enableFederator: false # keep enableFederator default in sync with brig and cargohold chart's config.enableFederator as well as wire-server chart's tag.federator
  settings:
    httpPoolSize: 128
    maxTeamSize: 10000
    maxConvSize: 500
    # Before making indexedBillingTeamMember true while upgrading, please
    # refer to notes here: https://github.com/wireapp/wire-server-deploy/releases/tag/v2020-05-15
    indexedBillingTeamMember: false
    featureFlags:  # see #RefConfigOptions in `/docs/reference` (https://github.com/wireapp/wire-server/)
      appLock:
        defaults:
          config:
            enforceAppLock: false
            inactivityTimeoutSecs: 60
          status: enabled
          ttl: unlimited
      classifiedDomains:
        config:
          domains: []
        status: disabled
      conferenceCalling:
        defaults:
          status: enabled
          ttl: unlimited
      conversationGuestLinks:
        defaults:
          lockStatus: unlocked
          status: enabled
          ttl: unlimited
      fileSharing:
        defaults:
          lockStatus: unlocked
          status: enabled
          ttl: unlimited
      legalhold: disabled-by-default
      mls:
        defaults:
          status: disabled
          config:
            protocolToggleUsers: []
            defaultProtocol: proteus
            allowedCipherSuites: [1]
            defaultCipherSuite: 1
      searchVisibilityInbound:
        defaults:
          status: disabled
      selfDeletingMessages:
        defaults:
          config:
            enforcedTimeoutSeconds: 0
          lockStatus: unlocked
          status: enabled
          ttl: unlimited
      sndFactorPasswordChallenge:
        defaults:
          lockStatus: locked
          status: disabled
          ttl: unlimited
      sso: disabled-by-default
      teamSearchVisibility: disabled-by-default
      validateSAMLemails:
        defaults:
          status: enabled
 
  aws:
    region: "eu-west-1"
  proxy: {}
serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'galley' exists or change the 'name' field to 'default'
  create: true
  name: galley
  annotations: {}
  automountServiceAccountToken: true

secrets: {}
