apiVersion: batch/v1
kind: Job
metadata:
  name: elasticsearch-index-create
  labels:
    app: elasticsearch-index-create
    heritage: {{.Release.Service | quote }}
    release: {{.Release.Name | quote }}
    chart: "{{.Chart.Name}}-{{.Chart.Version}}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": "before-hook-creation"
spec:
  template:
    metadata:
      name: "{{.Release.Name}}"
      labels:
        app: elasticsearch-index-create
        heritage: {{.Release.Service | quote }}
        release: {{.Release.Name | quote }}
        chart: "{{.Chart.Name}}-{{.Chart.Version}}"
    spec:
      restartPolicy: OnFailure
      {{- if hasKey .Values.secrets "elasticsearch" }}
      volumes:
        - name: elasticsearch-index-secrets
          secret:
            secretName: elasticsearch-index
      {{- end }}
      initContainers:
        # Creates index in elasticsearch only when it doesn't exist.
        # Does nothing if the index exists.
        - name: brig-index-create
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- if hasKey .Values.secrets "elasticsearch" }}
          volumeMounts:
            - name: "elasticsearch-index-secrets"
              mountPath: "/etc/wire/elasticsearch-index/secrets"
          {{- end }}
          {{- if eq (include "includeSecurityContext" .) "true" }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- end }}
          args:
            - create
            - --elasticsearch-server
            - "{{ .Values.elasticsearch.scheme }}://{{ required "missing elasticsearch-index.elasticsearch.host!" .Values.elasticsearch.host }}:{{ .Values.elasticsearch.port }}"
            {{- if hasKey .Values.secrets "elasticsearch" }}
            - --elasticsearch-credentials
            - "/etc/wire/elasticsearch-index/secrets/elasticsearch-credentials.yaml"
            {{- end }}
            - --elasticsearch-index
            - "{{ or (.Values.elasticsearch.additionalWriteIndex) (.Values.elasticsearch.index) }}"
            - --elasticsearch-shards=5
            - --elasticsearch-replicas=2
            - --elasticsearch-refresh-interval=5
            {{- if .Values.elasticsearch.delete_template }}
            - --delete-template
            - "{{ .Values.elasticsearch.delete_template }}"
            {{- end}}
      containers:
        - name: brig-index-update-mapping
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          {{- if hasKey .Values.secrets "elasticsearch" }}
          volumeMounts:
            - name: "elasticsearch-index-secrets"
              mountPath: "/etc/wire/elasticsearch-index/secrets"
          {{- end }}
          {{- if eq (include "includeSecurityContext" .) "true" }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- end }}
          args:
            - update-mapping
            - --elasticsearch-server
            - "{{ .Values.elasticsearch.scheme }}://{{ required "missing elasticsearch-index.elasticsearch.host!" .Values.elasticsearch.host }}:{{ .Values.elasticsearch.port }}"
            {{- if hasKey .Values.secrets "elasticsearch" }}
            - --elasticsearch-credentials
            - "/etc/wire/elasticsearch-index/secrets/elasticsearch-credentials.yaml"
            {{- end }}
            - --elasticsearch-index
            - "{{ or (.Values.elasticsearch.additionalWriteIndex) (.Values.elasticsearch.index) }}"
