replicaCount: 3
image:
  repository: quay.io/wire/gundeck
  tag: do-not-use
service:
  externalPort: 8080
  internalPort: 8080
metrics:
  serviceMonitor:
    enabled: false
resources:
  requests:
    memory: "300Mi"
    cpu: "100m"
  limits:
    memory: "1Gi"
config:
  logLevel: Info
  logFormat: StructuredJSON
  logNetStrings: false
  cassandra:
    host: aws-cassandra
    # To enable TLS provide a CA:
    # tlsCa: <CA in PEM format (can be self-signed)>
    #
    # Or refer to an existing secret (containing the CA):
    # tlsCaSecretRef:
    #   name: <secret-name>
    #   key: <ca-attribute>
  rabbitmq:
    host: rabbitmq
    port: 5672
    vHost: /
    enableTls: false
    insecureSkipVerifyTls: false
    # tlsCaSecretRef:
    #   name: <secret-name>
    #   key: <ca-attribute>
  bulkPush: true
  aws:
    region: "eu-west-1"
  proxy: {}
  # perNativePushConcurrency: 32
  maxConcurrentNativePushes:
    soft: 1000
  # Disable one ore more API versions. Please make sure the configuration value is the same in all these charts:
  # brig, cannon, cargohold, galley, gundeck, proxy, spar.
  disabledAPIVersions: [ development ]

  # Maximum number of bytes loaded into memory when fetching (referenced) payloads.
  # Gundeck will return a truncated page if the whole page's payload sizes would exceed this limit in total.
  # Inlined payloads can cause greater payload sizes to be loaded into memory regardless of this setting.
  # Tune this to trade off memory usage VS number of requests for gundeck workers.
  maxPayloadLoadSize: 5242880
  # Cassandra page size for fetching notifications. Does not directly effect the
  # page size request in the client API. A lower number will reduce the amount
  # by which setMaxPayloadLoadSize is exceeded when loading notifications from
  # the database if notifications have inlined payloads.
  internalPageSize: 100

  # TTL of stored notifications in Seconds. After this period, notifications
  # will be deleted and thus not delivered.
  # The default is 28 days.
  notificationTTL: 2419200

serviceAccount:
  # When setting this to 'false', either make sure that a service account named
  # 'gundeck' exists or change the 'name' field to 'default'
  create: true
  name: gundeck
  annotations: {}
  automountServiceAccountToken: true

secrets: {}

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
tests:
  config: {}
#  config:
#   uploadXml:
#     baseUrl: s3://bucket/path/
#  secrets:
#    uploadXmlAwsAccessKeyId: <key-id>
#    uploadXmlAwsSecretAccessKey: <secret>
