constraints: StateVar ==1.1.0.3,
             adjunctions ==4.3,
             aeson ==0.9.0.1,
             ansi-terminal ==0.6.2.3,
             ansi-wl-pprint ==0.6.7.3,
             appar ==0.1.4,
             array ==0.5.1.0,
             asn1-encoding ==0.9.3,
             asn1-parse ==0.9.4,
             asn1-types ==0.3.2,
             async ==2.1.0,
             attoparsec ==0.13.0.1,
             auto-update ==0.1.3,
             base-orphans ==0.5.0,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             bifunctors ==5.2,
             bilge ==0.21.1,
             binary ==0.7.5.0,
             blaze-builder ==0.4.0.1,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytestring ==0.10.6.0,
             bytestring-builder ==0.10.6.0.0,
             bytestring-conversion ==0.3.1,
             case-insensitive ==1.2.0.5,
             cereal ==0.5.1.0,
             comonad ==5,
             conduit ==1.2.6.1,
             conduit-extra ==1.1.9.2,
             configurator ==0.3.0.0,
             connection ==0.2.5,
             containers ==0.5.6.2,
             contravariant ==1.4,
             cookie ==0.4.1.6,
             cryptohash ==0.11.6,
             cryptonite ==0.10,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             distributive ==0.5.0.2,
             dlist ==0.7.1.2,
             double-conversion ==2.0.1.0,
             easy-file ==0.2.1,
             errors ==2.1.1,
             exceptions ==0.8.2.1,
             fast-logger ==2.4.1,
             filepath ==1.4.0.0,
             free ==4.12.4,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             hourglass ==0.2.9,
             http-client ==0.4.27,
             http-client-tls ==0.2.2,
             http-date ==0.0.6.1,
             http-reverse-proxy ==0.4.3,
             http-types ==0.9,
             http2 ==1.4.4,
             integer-gmp ==1.0.0.0,
             iproute ==1.7.0,
             kan-extensions ==5.0.1,
             lens ==4.13.1,
             lifted-base ==0.2.3.6,
             memory ==0.11,
             metrics-core ==0.2.1,
             metrics-wai ==0.5.1,
             mime-types ==0.1.0.6,
             mmorph ==1.0.5,
             monad-control ==1.0.0.4,
             mtl ==2.2.1,
             network ==2.6.2.1,
             network-info ==0.2.0.8,
             network-uri ==2.6.0.3,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             optparse-applicative ==0.12.1.0,
             parallel ==3.2.1.0,
             parsec ==3.1.9,
             pem ==0.2.2,
             pipes ==4.1.8,
             prelude-extras ==0.4.0.3,
             pretty ==1.1.2.0,
             primitive ==0.6.1.0,
             process ==1.2.3.0,
             profunctors ==5.2,
             psqueues ==0.2.0.3,
             random ==1.1,
             reflection ==2.1.1.1,
             resourcet ==1.1.7.1,
             retry ==0.7.4.1,
             rts ==1.0,
             safe ==0.3.9,
             scientific ==0.3.4.4,
             semigroupoids ==5.0.1,
             semigroups ==0.18.0.1,
             simple-sendfile ==0.2.21,
             singletons ==2.0.1,
             socks ==0.5.4,
             stm ==2.4.4.1,
             streaming-commons ==0.1.15,
             swagger ==0.2.2,
             syb ==0.6,
             tagged ==0.8.2,
             template-haskell ==2.10.0.0,
             text ==1.2.2.0,
             th-desugar ==1.5.5,
             th-expand-syns ==0.3.0.6,
             th-lift ==0.7.6,
             th-orphans ==0.13.0,
             th-reify-many ==0.1.4,
             time ==1.5.0.1,
             tinylog ==0.12.1,
             tls ==1.3.4,
             transformers ==0.4.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             types-common ==0.12.0,
             unexceptionalio ==0.3.0,
             unix ==2.7.1.0,
             unix-compat ==0.4.1.4,
             unix-time ==0.3.6,
             unordered-containers ==0.2.6.0,
             uri-bytestring ==0.2.2.0,
             uuid ==1.3.11,
             uuid-types ==1.0.2,
             vault ==0.3.0.5,
             vector ==0.11.0.0,
             void ==0.7.1,
             wai ==3.2.0,
             wai-logger ==2.2.5,
             wai-predicates ==0.8.5,
             wai-route ==0.3.1,
             wai-routing ==0.12.2,
             wai-utilities ==0.14.3,
             warp ==3.2.2,
             word8 ==0.1.2,
             x509 ==1.6.3,
             x509-store ==1.6.1,
             x509-system ==1.6.3,
             x509-validation ==1.6.3,
             zlib ==0.6.1.1
