apiVersion: v1
kind: ConfigMap
metadata:
  name: "cargohold"
data:
  cargohold.yaml: |
    logFormat: {{ .Values.config.logFormat }}
    logLevel: {{ .Values.config.logLevel }}
    logNetStrings: {{ .Values.config.logNetStrings }}

    cargohold:
      host: 0.0.0.0
      port: {{ .Values.service.internalPort }}

    {{- if .Values.config.enableFederator }}
    federator:
      host: federator
      port: 8080
    {{- end }}

    aws:
      {{- with .Values.config.aws }}
      s3Bucket: {{ .s3Bucket }}
      s3Endpoint: {{ .s3Endpoint }}
      {{- if .s3DownloadEndpoint }}
      s3DownloadEndpoint: {{ .s3DownloadEndpoint }}
      {{- end }}
      {{- if .s3Compatibility }}
      s3Compatibility: {{ .s3Compatibility }}
      {{- end }}
      {{ if .cloudFront }}
      cloudFront:
        domain: {{ .cloudFront.domain }}
        keyPairId: {{ .cloudFront.keyPairId }}
        privateKey: {{ .cloudFront.privateKeyPath }}
      {{ end }}
      {{- end }}

    settings:
      {{- with .Values.config.settings }}
      maxTotalBytes: 5368709120
      downloadLinkTTL: 300      # Seconds
      federationDomain: {{ .federationDomain }}
      {{- end }}
