apiVersion: v1
kind: ConfigMap
metadata:
  name: "cargohold"
data:
  cargohold.yaml: |
    logFormat: {{ .Values.config.logFormat }}
    logLevel: {{ .Values.config.logLevel }}
    logNetStrings: {{ .Values.config.logNetStrings }}

    cargohold:
      host: 0.0.0.0
      port: {{ .Values.service.internalPort }}

    {{- if .Values.config.enableFederation }}
    federator:
      host: federator
      port: 8080
    {{- end }}

    brig:
      host: brig
      port: 8080

    aws:
      {{- with .Values.config.aws }}
      s3Bucket: {{ .s3Bucket }}
      s3Endpoint: {{ .s3Endpoint }}
      {{- if .s3DownloadEndpoint }}
      s3DownloadEndpoint: {{ .s3DownloadEndpoint }}
      {{- end }}
      {{- if .s3Compatibility }}
      s3Compatibility: {{ .s3Compatibility }}
      {{- end }}
      {{- if .s3AddressingStyle }}
      s3AddressingStyle: {{ .s3AddressingStyle }}
      {{- end }}
      {{ if .cloudFront }}
      cloudFront:
        domain: {{ .cloudFront.domain }}
        keyPairId: {{ .cloudFront.keyPairId }}
        privateKey: {{ .cloudFront.privateKeyPath }}
      {{ end }}
      {{- if .multiIngress }}
      multiIngress:
        {{- toYaml .multiIngress | nindent 8 }}
      {{- end }}
      {{- end }}

    settings:
      {{- with .Values.config.settings }}
      {{- if .maxTotalBytes }}
      maxTotalBytes: {{ .maxTotalBytes }}
      {{- end }}
      {{- if .downloadLinkTTL }}
      downloadLinkTTL: {{ .downloadLinkTTL }}
      {{- end }}
      assetAuditLogEnabled: {{ .assetAuditLogEnabled }}
      federationDomain: {{ .federationDomain }}
      disabledAPIVersions: {{ toJson .disabledAPIVersions }}
      {{- end }}
