{{/* Secret for the provided Cassandra TLS CA. */}}
{{- if not (empty .Values.config.cassandraGalley.tlsCa) }}
apiVersion: v1
kind: Secret
metadata:
  name: background-worker-cassandra-galley
  labels:
    app: background-worker
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  ca.pem: {{ .Values.config.cassandraGalley.tlsCa | b64enc | quote }}
{{- end }}
