apiVersion: v1
kind: ConfigMap
metadata:
  name: "background-worker"
  labels:
    app: background-worker
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  {{- with .Values.config }}
  background-worker.yaml: |
    logFormat: {{ .logFormat }}
    logLevel: {{ .logLevel }}

    backgroundWorker:
      host: 0.0.0.0
      port: {{ $.Values.service.internalPort }}

    federatorInternal:
      host: federator
      port: 8080

    cassandra:
      endpoint:
        host: {{ .cassandra.host }}
        port: 9042
      keyspace: gundeck
      {{- if eq (include "useCassandraTLS" .) "true" }}
      tlsCa: /etc/wire/background-worker/cassandra/{{- (include "tlsSecretRef" . | fromYaml).key }}
      {{- end }}

    cassandraGalley:
      endpoint:
        host: {{ .cassandraGalley.host }}
        port: 9042
      keyspace: galley
      {{- if hasKey .cassandraGalley "filterNodesByDatacentre" }}
      filterNodesByDatacentre: {{ .cassandraGalley.filterNodesByDatacentre }}
      {{- end }}
      {{- if eq (include "useCassandraTLSGalley" .) "true" }}
      tlsCa: /etc/wire/background-worker/cassandra-galley/{{- (include "tlsSecretRefGalley" . | fromYaml).key }}
      {{- end }}

    postgresql: {{ toYaml .postgresql | nindent 6 }}
    postgresqlPool: {{ toYaml .postgresqlPool | nindent 6 }}
    {{- if hasKey $.Values.secrets "pgPassword" }}
    postgresqlPassword: /etc/wire/background-worker/secrets/pgPassword
    {{- end }}

    {{- with .rabbitmq }}
    rabbitmq:
      host: {{ .host }}
      port: {{ .port }}
      vHost: {{ .vHost }}
      {{- if $.Values.config.enableFederation }}
      adminHost: {{ default .host .adminHost }}
      adminPort: {{ .adminPort }}
      {{- end }}
      enableTls: {{ .enableTls }}
      insecureSkipVerifyTls: {{ .insecureSkipVerifyTls }}
      {{- if .tlsCaSecretRef }}
      caCert: /etc/wire/background-worker/rabbitmq-ca/{{ .tlsCaSecretRef.key }}
      {{- end }}
    {{- end }}

    migrateConversations: {{ .migrateConversations }}

    backendNotificationPusher:
{{toYaml .backendNotificationPusher | indent 6 }}
  {{- end }}
