apiVersion: v1
kind: Secret
metadata:
  name: background-worker
  labels:
    app: background-worker
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  {{/* for_helm_linting is necessary only since the 'with' block below does not throw an error upon an empty .Values.secrets */}}
  for_helm_linting: {{ required "No .secrets found in configuration. Did you forget to helm <command> -f path/to/secrets.yaml ?" .Values.secrets | quote | b64enc | quote }}

  {{- with .Values.secrets }}
  rabbitmqUsername: {{ .rabbitmq.username | b64enc | quote }}
  rabbitmqPassword: {{ .rabbitmq.password | b64enc | quote }}
  {{- if .pgPassword }}
  pgPassword: {{ .pgPassword | b64enc | quote }}
  {{- end }}
  {{- end }}
