apiVersion: v1
kind: ConfigMap
metadata:
  name: "gundeck"
data:
  {{- with .Values.config }}
  gundeck.yaml: |
    logFormat: {{ .logFormat }}
    logLevel: {{ .logLevel }}
    logNetStrings: {{ .logNetStrings }}

    gundeck:
      host: 0.0.0.0
      port: {{ $.Values.service.internalPort }}

    cassandra:
      endpoint:
        host: {{ .cassandra.host }}
        port: 9042
      keyspace: gundeck
      {{- if hasKey .cassandra "filterNodesByDatacentre" }}
      filterNodesByDatacentre: {{ .cassandra.filterNodesByDatacentre }}
      {{- end }}

    redis:
      host: {{ .redis.host }}
      port: {{ .redis.port }}
      connectionMode: {{ .redis.connectionMode }}

    {{- if .redisAdditionalWrite }}
    redisAdditionalWrite:
      {{- toYaml .redisAdditionalWrite | nindent 6 }}
    {{- end }}

    # Gundeck uses discovery for AWS access key / secrets
    # For more details, check amazonka's documentation at:
    # https://hackage.haskell.org/package/amazonka-1.4.5/docs/Network-AWS.html#t:Credentials
    # later we should have a look at https://github.com/jtblin/kube2iam
    {{- with .aws }}
    aws:
      queueName: {{ .queueName }}
      region: {{ .region }}
      account: {{ .account | quote }}
      arnEnv: {{ .arnEnv }}
      sqsEndpoint: {{ .sqsEndpoint | quote }}
      snsEndpoint: {{ .snsEndpoint | quote }}
      connectionLimit: 256
    {{- end }}

    settings:
      httpPoolSize: 1024
      notificationTTL: 2419200
      bulkPush: {{ .bulkPush }}
      {{- if hasKey . "perNativePushConcurrency" }}
      perNativePushConcurrency: {{ .perNativePushConcurrency }}
      {{- end }}
      maxConcurrentNativePushes:
        soft: {{ .maxConcurrentNativePushes.soft }}
        {{- if hasKey .maxConcurrentNativePushes "hard" }}
        hard: {{ .maxConcurrentNativePushes.hard }}
        {{- end }}
        # hard: 30  # more than this number of threads will not be allowed
  {{- end }}
