apiVersion: v1
kind: ConfigMap
metadata:
  name: "gundeck"
data:
  {{- with .Values.config }}
  gundeck.yaml: |
    logFormat: {{ .logFormat }}
    logLevel: {{ .logLevel }}
    logNetStrings: {{ .logNetStrings }}

    gundeck:
      host: 0.0.0.0
      port: {{ $.Values.service.internalPort }}

    brig:
      host: brig
      port: 8080

    cassandra:
      endpoint:
        host: {{ .cassandra.host }}
        port: 9042
      keyspace: gundeck
      {{- if hasKey .cassandra "filterNodesByDatacentre" }}
      filterNodesByDatacentre: {{ .cassandra.filterNodesByDatacentre }}
      {{- end }}
      {{- if eq (include "useCassandraTLS" .) "true" }}
      tlsCa: /etc/wire/gundeck/cassandra/{{- (include "tlsSecretRef" . | fromYaml).key }}
      {{- end }}

    redis:
      host: {{ .redis.host }}
      port: {{ .redis.port }}
      connectionMode: {{ .redis.connectionMode }}
      enableTls: {{ .redis.enableTls }}
      insecureSkipVerifyTls: {{ .redis.insecureSkipVerifyTls }}
      {{- if eq (include "configureRedisCa" .) "true" }}
      tlsCa: /etc/wire/gundeck/redis-ca/{{ include "redisTlsSecretKey" .}}
      {{- end }}

    {{- if .redisAdditionalWrite }}
    redisAdditionalWrite:
      host: {{ .redisAdditionalWrite.host }}
      port: {{ .redisAdditionalWrite.port }}
      connectionMode: {{ .redisAdditionalWrite.connectionMode }}
      enableTls: {{ .redisAdditionalWrite.enableTls }}
      insecureSkipVerifyTls: {{ .redisAdditionalWrite.insecureSkipVerifyTls }}
      {{- if eq (include "configureAdditionalRedisCa" .) "true" }}
      tlsCa: /etc/wire/gundeck/additional-redis-ca/{{ include "additionalRedisTlsSecretKey" .}}
      {{- end }}
    {{- end }}

    # Gundeck uses discovery for AWS access key / secrets
    # For more details, check amazonka's documentation at:
    # https://hackage.haskell.org/package/amazonka-1.4.5/docs/Network-AWS.html#t:Credentials
    # later we should have a look at https://github.com/jtblin/kube2iam
    {{- with .aws }}
    aws:
      queueName: {{ .queueName }}
      region: {{ .region }}
      account: {{ .account | quote }}
      arnEnv: {{ .arnEnv }}
      sqsEndpoint: {{ .sqsEndpoint | quote }}
      snsEndpoint: {{ .snsEndpoint | quote }}
    {{- end }}

    settings:
      httpPoolSize: 1024
      notificationTTL: {{ required "config.notificationTTL" .notificationTTL }}
      bulkPush: {{ .bulkPush }}
      {{- if hasKey . "perNativePushConcurrency" }}
      perNativePushConcurrency: {{ .perNativePushConcurrency }}
      {{- end }}
      disabledAPIVersions: {{ toJson .disabledAPIVersions }}
      # disabledAPIVersions: [ 2 ]
      maxConcurrentNativePushes:
        soft: {{ .maxConcurrentNativePushes.soft }}
        {{- if hasKey .maxConcurrentNativePushes "hard" }}
        hard: {{ .maxConcurrentNativePushes.hard }}
        {{- end }}
        # hard: 30  # more than this number of threads will not be allowed
      maxPayloadLoadSize : {{ .maxPayloadLoadSize }}
      internalPageSize : {{ .internalPageSize }}

  {{- end }}
