apiVersion: apps/v1
kind: Deployment
metadata:
  name: gundeck
  labels:
    app: gundeck
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: gundeck
  template:
    metadata:
      labels:
        app: gundeck
        release: {{ .Release.Name }}
      annotations:
        # An annotation of the configmap checksum ensures changes to the configmap cause a redeployment upon `helm upgrade`
        checksum/configmap: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        - name: "gundeck-config"
          configMap:
            name: "gundeck"
        {{- if eq (include "useCassandraTLS" .Values.config) "true" }}
        - name: "gundeck-cassandra"
          secret:
            secretName: {{ (include "tlsSecretRef" .Values.config | fromYaml).name }}
        {{- end}}
        {{- if .Values.config.rabbitmq.tlsCaSecretRef }}
        - name: "rabbitmq-ca"
          secret:
            secretName: {{ .Values.config.rabbitmq.tlsCaSecretRef.name }}
        {{- end }}
      containers:
        - name: gundeck
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
        {{- if eq (include "includeSecurityContext" .) "true" }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
        {{- end }}
          volumeMounts:
          - name: "gundeck-config"
            mountPath: "/etc/wire/gundeck/conf"
          {{- if eq (include "useCassandraTLS" .Values.config) "true" }}
          - name: "gundeck-cassandra"
            mountPath: "/etc/wire/gundeck/cassandra"
          {{- end }}
          {{- if .Values.config.rabbitmq.tlsCaSecretRef }}
          - name: "rabbitmq-ca"
            mountPath: "/etc/wire/gundeck/rabbitmq-ca/"
          {{- end }}
          env:
          {{- if hasKey .Values.secrets "awsKeyId" }}
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: gundeck
                key: awsKeyId
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: gundeck
                key: awsSecretKey
          {{- end }}
          - name: RABBITMQ_USERNAME
            valueFrom:
              secretKeyRef:
                name: gundeck
                key: rabbitmqUsername
          - name: RABBITMQ_PASSWORD
            valueFrom:
              secretKeyRef:
                name: gundeck
                key: rabbitmqPassword
          - name: AWS_REGION
            value: "{{ .Values.config.aws.region }}"
          {{- with .Values.config.proxy }}
          {{- if .httpProxy }}
          - name: http_proxy
            value: {{ .httpProxy | quote }}
          - name: HTTP_PROXY
            value: {{ .httpProxy | quote }}
          {{- end }}
          {{- if .httpsProxy }}
          - name: https_proxy
            value: {{ .httpsProxy | quote }}
          - name: HTTPS_PROXY
            value: {{ .httpsProxy | quote }}
          {{- end }}
          {{- if .noProxyList }}
          - name: no_proxy
            value: {{ join "," .noProxyList | quote }}
          - name: NO_PROXY
            value: {{ join "," .noProxyList | quote }}
          {{- end }}
          {{- end }} 
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
