{{- if hasKey .Values.secrets "awsKeyId" }}
apiVersion: v1
kind: Secret
metadata:
  name: gundeck
  labels:
    app: gundeck
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  {{- with .Values.secrets }}
  awsKeyId: {{ .awsKeyId | b64enc | quote }}
  awsSecretKey: {{ .awsSecretKey | b64enc | quote }}
  {{- end }}
{{- end }}
