redis-ephemeral:
  image:
    tag: "7.4.6"

  haMode:
    enabled: false

  redisConfig: |
    # dont write rdb to emptyDir disk for an ephemeral setup
    save ""

# To add a password add the following to redisConfig:
# requirepass my-plaintext-password


# How to enable SSL connections:
#
# Add the following lines to redisConfig:
# 
# port 0
# tls-port 6379
# tls-cert-file /data/ssl/tls.crt
# tls-key-file /data/ssl/tls.key
# tls-ca-cert-file /data/ssl/ca.crt
# tls-auth-clients no
#
# Mount the certificate and adjust probes to use SSL
#
# redis-ephemeral:
#  extraRedisSecrets:
#    - name: redis-certificate
#      mountPath: /data/ssl
#
#  livenessProbe:
#    enabled: false
#  customLivenessProbe:
#    exec:
#      command:
#        - sh
#        - -c
#        - redis-cli --tls --cacert /data/ssl/ca.crt ping
#
#  readinessProbe:
#    enabled: false
#  customReadinessProbe:
#    exec:
#      command:
#        - sh
#        - -c
#        - redis-cli --tls --cacert /data/ssl/ca.crt ping
#
#  startupProbe:
#    enabled: false
#  customStartupProbe:
#    exec:
#      command:
#        - sh
#        - -c
#        - redis-cli --tls --cacert /data/ssl/ca.crt ping
#
