redis-ephemeral:
  # must be same as extraSecretRedisConfigs
  extraSecretRedisConfigs: redis-extra-secret-config
  image:
    tag: "7.4.6"

  haMode:
    enabled: false

# must be same as redis-ephemeral.extraSecretRedisConfigs
extraSecretRedisConfigs: redis-extra-secret-config

configTemplate: |
  # dont write rdb to emptyDir disk - ephemeral setup
  save ""
  {{- if .Values.auth.enabled }}
  requirepass {{ .Values.auth.password }}
  {{- end }}
  {{ .Values.extraConfig }}

auth:
  enabled: false
  # password: very-secure-redis-master-password

extraConfig: ""
