version:
  postgresql: "17"
cluster:
  instances: 1
  storage:
    size: 8Gi
    storageClass: {{ .Values.storageClass }}
  resources:
    requests:
      cpu: 1
      memory: 2Gi
  monitoring:
    enabled: false
  postgresql:
    parameters:
      max_connections: "1500"
  initdb:
    database: wire-server
    owner: dbadmin
backups:
  enabled: false
