auth:
  postgresPassword: "posty-the-gres"
  username: wire-server
  password: "posty-the-gres"
resources:
  requests:
    cpu: "1"
  limits:
    cpu: "1"
postgresql:
  primary:
    configuration: |
      max_connections = 500
