ingress-nginx:
  fullnameOverride: "{{ .Release.Namespace }}-nginx-ingress"
  controller:
    ingressClassResource:
        name: "nginx-{{ .Release.Namespace }}"
        # -- Is this ingressClass enabled or not
        enabled: true
        controllerValue: "k8s.io/{{ .Release.Namespace }}-nginx-ingress"
    ingressClass: "nginx-{{ .Release.Namespace }}"
    kind: Deployment
    replicaCount: 1
    service:
      type: NodePort
      nodePorts:
        # choose a random free port
        https: null
        http: null
    # in CI, do not use ValidatingWebhooks, as these, if not properly cleaned up
    # (i.e. the ingress controller was deleted in another namespace but the webhook remains)
    # prevent new kind:Ingress resources to be created in the cluster.
    admissionWebhooks:
      enabled: false
