apiVersion: v1
kind: ConfigMap
metadata:
  name: galley
data:
  {{- with .Values.config }}
  galley.yaml: |
    logNetStrings: True # log using netstrings encoding:
                        # http://cr.yp.to/proto/netstrings.txt
    logLevel: {{ .logLevel }}
    logFormat: {{ .logFormat }}

    galley:
      host: 0.0.0.0
      port: 8080

    cassandra:
      endpoint:
        host: {{ .cassandra.host }}
        port: 9042
      keyspace: galley
      {{- if hasKey .cassandra "filterNodesByDatacentre" }}
      filterNodesByDatacentre: {{ .cassandra.filterNodesByDatacentre }}
      {{- end }}

    brig:
      host: brig
      port: 8080

    gundeck:
      host: gundeck
      port: 8080

    spar:
      host: spar
      port: 8080

    {{- if .enableFederator }}
    federator:
      host: federator
      port: 8080
    {{- end }}

    {{- if (.journal) }}
    journal:
      queueName: {{ .journal.queueName }}
      endpoint: {{ .journal.endpoint }}
    {{- end }}

    settings:
      httpPoolSize: 128
      intraListing: false
      maxTeamSize: {{ .settings.maxTeamSize }}
      maxConvSize: {{ .settings.maxConvSize }}
      {{- if .settings.maxFanoutSize }}
      maxFanoutSize: {{ .settings.maxFanoutSize }}
      {{- end }}
      conversationCodeURI: {{ .settings.conversationCodeURI | quote }}
      {{- if .settings.enableIndexedBillingTeamMembers }}
      enableIndexedBillingTeamMembers: {{ .settings.enableIndexedBillingTeamMembers }}
      {{- end }}
      federationDomain: {{ .settings.federationDomain }}
      {{- if .settings.featureFlags }}
      featureFlags:
        sso: {{ .settings.featureFlags.sso }}
        legalhold: {{ .settings.featureFlags.legalhold }}
        teamSearchVisibility: {{ .settings.featureFlags.teamSearchVisibility }}
        classifiedDomains:
          {{- toYaml .settings.featureFlags.classifiedDomains | nindent 10 }}
        {{- if .settings.featureFlags.fileSharing }}
        fileSharing:
          {{- toYaml .settings.featureFlags.fileSharing | nindent 10 }}
        {{- end }}
        {{- if .settings.featureFlags.sndFactorPasswordChallenge }}
        sndFactorPasswordChallenge:
          {{- toYaml .settings.featureFlags.sndFactorPasswordChallenge | nindent 10 }}
        {{- end }}
        {{- if .settings.featureFlags.searchVisibilityInbound }}
        searchVisibilityInbound:
          {{- toYaml .settings.featureFlags.searchVisibilityInbound | nindent 10 }}
        {{- end }}
        {{- if .settings.featureFlags.validateSAMLemails }}
        validateSAMLemails:
          {{- toYaml .settings.featureFlags.validateSAMLemails | nindent 10 }}
        {{- end }}
        {{- if .settings.featureFlags.appLock }}
        appLock:
          {{- toYaml .settings.featureFlags.appLock | nindent 10 }}
        {{- end }}        
        {{- if .settings.featureFlags.conferenceCalling }}
        conferenceCalling:
          {{- toYaml .settings.featureFlags.conferenceCalling | nindent 10 }}
        {{- end }}        
        {{- if .settings.featureFlags.selfDeletingMessages }}
        selfDeletingMessages:
          {{- toYaml .settings.featureFlags.selfDeletingMessages | nindent 10 }}
        {{- end }}        
        {{- if .settings.featureFlags.conversationGuestLinks }}
        conversationGuestLinks:
          {{- toYaml .settings.featureFlags.conversationGuestLinks | nindent 10 }}
        {{- end }}
        {{- if .settings.featureFlags.searchVisibilityInbound }}
        searchVisibilityInbound:
          {{- toYaml .settings.featureFlags.searchVisibilityInbound | nindent 10 }}
        {{- end }}
      {{- end }}
  {{- end }}
