apiVersion: v1
kind: Secret
metadata:
  name: galley
  labels:
    app: galley
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  {{- if .Values.secrets.mlsPrivateKeys }}
  {{- if .Values.secrets.mlsPrivateKeys.removal.ed25519 }}
  removal_ed25519.pem: {{ .Values.secrets.mlsPrivateKeys.removal.ed25519 | b64enc | quote }}
  {{- end -}}
  {{- if $.Values.config.enableFederation }}
  rabbitmqUsername: {{ .Values.secrets.rabbitmq.username | b64enc | quote }}
  rabbitmqPassword: {{ .Values.secrets.rabbitmq.password | b64enc | quote }}
  {{- end }}
  {{- end -}}
