apiVersion: v1
kind: Secret
metadata:
  name: galley
  labels:
    app: galley
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  {{- if .Values.secrets.mlsPrivateKeys }}
  removal_ed25519.pem: {{ .Values.secrets.mlsPrivateKeys.removal.ed25519 | b64enc | quote }}
  removal_ecdsa_secp256r1_sha256.pem: {{ .Values.secrets.mlsPrivateKeys.removal.ecdsa_secp256r1_sha256 | b64enc | quote }}
  removal_ecdsa_secp384r1_sha384.pem: {{ .Values.secrets.mlsPrivateKeys.removal.ecdsa_secp384r1_sha384 | b64enc | quote }}
  removal_ecdsa_secp521r1_sha512.pem: {{ .Values.secrets.mlsPrivateKeys.removal.ecdsa_secp521r1_sha512 | b64enc | quote }}
  {{- end -}}

  {{- if $.Values.config.enableFederation }}
  rabbitmqUsername: {{ .Values.secrets.rabbitmq.username | b64enc | quote }}
  rabbitmqPassword: {{ .Values.secrets.rabbitmq.password | b64enc | quote }}
  {{- end }}
