image:
  repository: opensearch
  # Keep this aligned with the Elastic Search version in wire-server-deploy!
  tag: 1.0.0

service:
  httpPort: 9200
  transportPort: 9300

resources:
  limits:
    cpu: "2000m"
    memory: "4Gi"
  requests:
    cpu: "250m"
    memory: "500Mi"

tls:
  enabled: false
  # issuerRef: ..

secrets:
  password: "changeme"
