image:
  repository: quay.io/wire/integration
  tag: do-not-use

config:
  dynamicBackendsPoolsize: 3

  cassandra:
    host: cassandra-ephemeral
    replicationFactor: 1

  elasticsearch:
    host: elasticsearch-ephemeral

  sqsEndpointUrl: http://fake-aws-sqs:4568
  sesEndpointUrl: http://fake-aws-ses:4569
  s3EndpointUrl: http://fake-aws-s3:9000
