image:
  repository: quay.io/wire/integration
  tag: do-not-use

podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

config:
  dynamicBackendsPoolsize: 3
  dynamicBackends:
    dynamic-backend-1:
      federatorExternalHostPrefix: dynamic-backend-1
      federatorExternalPort: 10098
    dynamic-backend-2:
      federatorExternalHostPrefix: dynamic-backend-2
      federatorExternalPort: 11098
    dynamic-backend-3:
      federatorExternalHostPrefix: dynamic-backend-3
      federatorExternalPort: 12098

  cassandra:
    host: cassandra-ephemeral
    replicationFactor: 1

  elasticsearch:
    host: elasticsearch-ephemeral

  sqsEndpointUrl: http://fake-aws-sqs:4568
  sesEndpointUrl: http://fake-aws-ses:4569
  s3EndpointUrl: http://fake-aws-s3:9000
  rabbitmqPutVHostUrl: http://rabbitmq:15672/api/vhosts
