gundeck:
  host: 0.0.0.0
  port: 8082

cassandra:
  endpoint:
    host: 127.0.0.1
    port: 9042
  keyspace: gundeck_test

redis:
  host: 127.0.0.1
  port: 6379

# Gundeck uses discovery for AWS access key / secrets 
# For more details, check amazonka's documentation at:
# https://hackage.haskell.org/package/amazonka-1.4.5/docs/Network-AWS.html#t:Credentials
aws:
  queueName: integration-gundeck-events
  region: eu-west-1
  account: "<insert-account-number-here>"
  arnEnv: test

optSettings:
  httpPoolSize: 4
  notificationTTL: 3600

fallback:
  skipFallbacks: true
  queueDelay: 3600
  queueLimit: 10
  queueBurst: 10
