on:
  push:
    branches:
      - lwille/zauth-arm64

name: Build zAuth Rust binary for ARM64
jobs:
  build-macos-arm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Setup osxcross
        uses: Timmmm/setup-osxcross@v2
        with:
          osx-version: 15.5

      - name: Show compiler info
        run: |
          echo "CC: $CC"
          $CC --version

      - name: Build zauth release binary
        run: |
          cargo build --release --target aarch64-apple-darwin

      - name: Copy built binary
        run: |
          mkdir -p release
          cp target/aarch64-apple-darwin/release/zauth release/zauth-aarch64-apple-darwin

      - name: Upload macOS ARM64 release binary
        uses: actions/upload-artifact@v4
        with:
          name: zauth-macos-arm64
          path: release/zauth-aarch64-apple-darwin
