on:
  push:
    branches:
      - lwille/zauth-arm64


name: Build zAuth Rust binary for ARM64
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-apple-darwin
          override: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-apple-darwin

      - name: Build zAuth for ARM64
        run: |
          make libzauth 
        env:
          CARGO_BUILD_TARGET: aarch64-apple-darwin 

      - name: Upload zAuth binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: zauth-linux-arm64
          path: dist/zauth
