on:
  push:
    branches:
      - lwille/zauth-arm64


name: Build zAuth Rust binary for ARM64
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up MacOS Cross Compiler
        uses: Timmmm/setup-osxcross@v2
        with:
          osx-version: "15.6"

      - name: Install Rustup targets
        run: rustup target add x86_64-apple-darwin aarch64-apple-darwin

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build zAuth for ARM64
        run: |
          make libzauth 
        env:
          CARGO_BUILD_TARGET: aarch64-apple-darwin 

      - name: Upload zAuth binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: zauth-linux-arm64
          path: dist/zauth
